<ul class="aside-nav__list">
    <li class="aside-nav__item">
        <a href="future-events.html" class="aside-nav__link @@if (active === 'future') {active}">
            <span class="aside-nav__icon icon-megafon-fill"></span>
            <span class="aside-nav__text aside-nav__text_mobile-crop">Анонсы ближайших событий</span>
        </a>
    </li>
    <li class="aside-nav__item">
        <a href="past-events.html" class="aside-nav__link @@if (active === 'past') {active}">
            <span class="aside-nav__icon icon-calendar-fill"></span>
            <span class="aside-nav__text">Прошедшие события</span>
        </a>
    </li>
    <li class="aside-nav__item">
        <a href="all-reportage.html" class="aside-nav__link @@if (active === 'all') {active}">
            <span class="aside-nav__icon icon-reportage-fill"></span>
            <span class="aside-nav__text">Все репортажи</span>
        </a>
    </li>
</ul>