<div class="events-links-widget">
    <ul class="events-links__list">
        <li class="events-links__item">
            <a href="future-events.html" class="events-links__link @@if (active === 'future') {active}">Анонсы ближайших событий</a>
        </li>
        <li class="events-links__item">
            <a href="past-events.html" class="events-links__link @@if (active === 'past') {active}">Прошедшие события</a>
        </li>
        <li class="events-links__item">
            <a href="all-reportage.html" class="events-links__link @@if (active === 'all') {active}">Все репортажи</a>
        </li>
    </ul>
</div>