<a href="@@link" class="grid-article @@class">
    <div class="grid-article__bg-gradient"></div>

    <div class="grid-article__cover-wrap">
        <img src="@@img" alt="" class="grid-article__cover">
    </div>

    <div class="grid-article__text-wrap">
        <h2 class="grid-article__title">@@title</h2>

        @@if (description !== false) {
            <p class="grid-article__description">@@description</p>
        }

        @@if (place !== false) {
            <div class="grid-article__description">@@place</div>
        }

        @@if (date !== false) {
            <div class="grid-article__description">@@date</div>
        }

        <div class="grid-article__wobbler">
            @@include('modules/wobbler.html', {
                "wobbler": "@@wobbler"
            })
        </div>
    </div>
</a>
