<div class="aside-nav-widget">
    <ul class="aside-nav__list">
        <li class="aside-nav__item">
            <a href="city-guide-hotel.html" class="aside-nav__link @@if (active === 'hotel') {active}">
                <span class="aside-nav__icon icon-hotel"></span>
                <span class="aside-nav__text">Где остановиться?</span>
            </a>
        </li>

        <li class="aside-nav__item">
            <a href="city-guide-food.html" class="aside-nav__link @@if (active === 'food') {active}">
                <span class="aside-nav__icon icon-food"></span>
                <span class="aside-nav__text">Где поесть?</span>
            </a>
        </li>

        <li class="aside-nav__item">
            <a href="city-guide-activities.html" class="aside-nav__link @@if (active === 'activities') {active}">
                <span class="aside-nav__icon icon-binoculars"></span>
                <span class="aside-nav__text">Что посмотреть?</span>
            </a>
        </li>

        <li class="aside-nav__item">
            <a href="city-guide-transport.html" class="aside-nav__link @@if (active === 'transport') {active}">
                <span class="aside-nav__icon icon-bus"></span>
                <span class="aside-nav__text">Как перемещаться по городу?</span>
            </a>
        </li>

        <li class="aside-nav__item">
            <a href="city-guide-phones.html" class="aside-nav__link @@if (active === 'phones') {active}">
                <span class="aside-nav__icon icon-phone-plus"></span>
                <span class="aside-nav__text">Полезные телефоны</span>
            </a>
        </li>
    </ul>
</div>