@@if (wobbler === "special-project") {
    <div class="wobbler wobbler_special-project">Спецпроекты</div>
}

@@if (wobbler === "reportage") {
    <div class="wobbler wobbler_reportage">Репортаж</div>
}

@@if (wobbler === "news") {
    <div class="wobbler wobbler_reportage">Новости</div>
}

@@if (wobbler === "story") {
    <div class="wobbler wobbler_story">История</div>
}

@@if (wobbler === "people") {
    <div class="wobbler wobbler_people">Люди</div>
}

@@if (wobbler === "place") {
    <div class="wobbler wobbler_place">Место</div>
}