@@if (wobbler === "news") {
    <div class="wobbler">
        <span class="wobbler__icon icon-news-stroke"></span>
        <div class="wobbler__text">Новости</div>
    </div>
}

@@if (wobbler === "announcement") {
    <div class="wobbler">
        <span class="wobbler__icon icon-megafon-stroke"></span>
        <div class="wobbler__text">Анонс</div>
    </div>
}

@@if (wobbler === "reportage") {
    <div class="wobbler">
        <span class="wobbler__icon icon-reportage"></span>
        <div class="wobbler__text">Репортаж</div>
    </div>
}

@@if (wobbler === "past-event") {
    <div class="wobbler">
        <span class="wobbler__icon icon-calendar"></span>
        <div class="wobbler__text">Состоялось</div>
    </div>
}

@@if (wobbler === "history") {
    <div class="wobbler">
        <span class="wobbler__icon icon-history"></span>
        <div class="wobbler__text">История</div>
    </div>
}

@@if (wobbler === "first-builders") {
    <div class="wobbler">
        <span class="wobbler__icon icon-history"></span>
        <div class="wobbler__text">Первостроители</div>
    </div>
}

@@if (wobbler === "legends") {
    <div class="wobbler">
        <span class="wobbler__icon icon-history"></span>
        <div class="wobbler__text">Городские легенды</div>
    </div>
}

@@if (wobbler === "people") {
    <div class="wobbler">
        <span class="wobbler__icon icon-people"></span>
        <div class="wobbler__text">Люди</div>
    </div>
}

@@if (wobbler === "place") {
    <div class="wobbler">
        <span class="wobbler__icon icon-geo-stroke"></span>
        <div class="wobbler__text">Место</div>
    </div>
}

@@if (wobbler === "city-guide") {
    <div class="wobbler">
        <span class="wobbler__icon icon-geo-stroke"></span>
        <div class="wobbler__text">Гид по местам</div>
    </div>
}

@@if (wobbler === "special-project") {
    <div class="wobbler">
        <span class="wobbler__icon icon-star-sharp"></span>
        <div class="wobbler__text">Спецпроекты</div>
    </div>
}