{% extends "site/base.html" %}
{% load static static_version site_tags %}

{% block content %}
    <main class="light-bg">
        <div class="container">
            <div class="base-layout">
                {% if top_objects %}
                    <div class="base-layout__main">
                        {% with item=top_objects.0 css_class='grid-publication_format-full grid-publication_text-size-big' cover_name="8_column_img"  %}
                            {% include "site/modules/grid-publication.html" %}
                        {% endwith %}
                    </div>
                {% endif %}

                <aside class="base-layout__aside">
                    <div class="aside-widget">
                        {% with css_class="people" btn_text="Предложить героя" offer_text="Любой житель Амурска может поделиться информацией об интересном человеке с&nbsp;редакцией сайта. Для нас очень важно участие амурчан в&nbsp;жизни своего города." %}
                            {% include "site/modules/offer-widget.html" %}
                        {% endwith %}
                    </div>

                    {% get_banner %}

                </aside>
            </div>

            <div class="base-3items-grid">
                {% for item in top_objects|slice:"1:4" %}
                    {% if forloop.counter == 1 %}
                        {% with css_class='grid-publication_format-base grid-publication_cover-format-bigger' cover_name="3_column_img" %}
                            {% include "site/modules/grid-publication.html" %}
                        {% endwith %}
                    {% endif %}
                    {% if forloop.counter == 2 %}
                        {% with css_class='grid-publication_format-full grid-publication_text-size-base' cover_name="3_column_img" %}
                            {% include "site/modules/grid-publication.html" %}
                        {% endwith %}
                    {% endif %}
                    {% if forloop.counter == 3 %}
                        {% with css_class='grid-publication_format-base grid-publication_cover-format-6col' cover_name="6_column_img" %}
                            {% include "site/modules/grid-publication.html" %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="base-3items-grid-inverse">
                {% for item in persons|slice:":4" %}
                    {% if forloop.counter == 1 %}
                        {% with css_class='grid-publication_format-base grid-publication_cover-format-6col' cover_name="6_column_img" %}
                            {% include "site/modules/grid-publication.html" %}
                        {% endwith %}
                    {% endif %}
                    {% if forloop.counter == 2 %}
                        {% with css_class='grid-publication_format-full grid-publication_text-size-base' cover_name="3_column_img" %}
                            {% include "site/modules/grid-publication.html" %}
                        {% endwith %}
                    {% endif %}
                    {% if forloop.counter == 3 %}
                        {% with css_class='grid-publication_format-base grid-publication_cover-format-bigger' cover_name="3_column_img" %}
                            {% include "site/modules/grid-publication.html" %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="js-infinity-loader-wrap">
                <div class="base-4items-grid js-infinity-loader-grid">
                    {% for item in persons|slice:"4:" %}
                        {% with css_class='grid-publication_format-base grid-publication_cover-format-bigger' cover_name="3_column_img" %}
                            {% include "site/modules/grid-publication.html" %}
                        {% endwith %}
                    {% endfor %}
                </div>
                {% if has_next %}
                    <button class="btn btn_blue btn_more btn_center js-more-people" data-page-count="1">Показать еще <span class="icon-arrow-down-dir"></span></button>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}