{% extends "site/base.html" %}
{% load static static_version utils_tags %}
{% load media_filters %}

{% block title %}
    {% if content_page %}
        {{ content_page.meta_title|default:content_page.name }}
    {% endif %}
{% endblock %}

{% block seo %}
    <meta name="keywords" content="{{ content_page.meta_keywords }}">
    <meta name="description" content="{{ content_page.meta_description }}">
{% endblock %}

{% block og %}
    {% if content_page %}
        {% og_meta_tags og_title=content_page.meta_title|default:content_page.name og_description=content_page.meta_description og_image=content_page.og_image|get_thumbnail_url_by_name:"og_image_default" %}
    {% endif %}
{% endblock %}

{% block content %}
    <main class="light-bg">
        <div class="container">
            <h1 class="page-title">События</h1>

            <div class="mobile-events-sections-links">
                {% include "site/modules/events-links-widget.html" %}
            </div>

            <div class="base-layout">
                {% if top_objects %}
                    <div class="base-layout__main">
                        {% with item=top_objects.0.get_object css_class='grid-publication_8-col' first_item=True cover_name="8_column_img" %}
                            {% if item %}
                                {% include "site/modules/grid-event.html" %}
                            {% else %}
                                <div class="grid-publication-placeholder grid-publication-placeholder_top1"></div>
                            {% endif %}
                        {% endwith %}
                    </div>
                {% endif %}

                <aside class="base-layout__aside base-layout__aside_desktop">
                    <div class="aside-widget aside-nav-widget">
                        {% include "site/modules/events-links-widget.html" %}
                    </div>

                    <div class="aside-widget">
                        {% with css_class="event" btn_text="Поделиться событием" offer_text="Любой житель Амурска может поделиться интересными событиями с&nbsp;редакцией сайта.<br>Для нас очень важно участие амурчан в&nbsp;жизни своего города." %}
                            {% include "site/modules/offer-widget.html" %}
                        {% endwith %}
                    </div>
                </aside>
            </div>

            <div class="base-3items-grid items-grid">
                {% for top_item in top_objects|slice:"1:4" %}
                    {% with item=top_item.get_object %}
                        {% if item %}
                            {% if forloop.counter == 1 %}
                                {% with cover_name="3_column_img_"|add:item.cover_format %}
                                    {% include "site/modules/grid-event.html" %}
                                {% endwith %}
                            {% endif %}
                            {% if forloop.counter == 2 %}
                                {% with cover_name="3_column_img_"|add:item.cover_format %}
                                    {% include "site/modules/grid-event.html" %}
                                {% endwith %}
                            {% endif %}
                            {% if forloop.counter == 3 %}
                                {% with css_class='grid-publication_6-col' cover_name="6_column_img_"|add:item.cover_format %}
                                    {% include "site/modules/grid-event.html" %}
                                {% endwith %}
                            {% endif %}
                        {% else %}
                            <div class="grid-publication-placeholder grid-publication-placeholder_top-other"></div>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="base-4items-grid items-grid">
                {% for item in events %}
                    {% if item %}
                        {% with cover_name="3_column_img_"|add:item.cover_format %}
                            {% include "site/modules/grid-event.html" %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="base-layout__aside base-layout__aside_mobile">
                <div class="aside-widget">
                    {% with css_class="event" btn_text="Поделиться событием" offer_text="Любой житель Амурска может поделиться интересными событиями с&nbsp;редакцией сайта.<br>Для нас очень важно участие амурчан в&nbsp;жизни своего города." %}
                        {% include "site/modules/offer-widget.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block additional_content %}
    {% include "site/page-block/movie-posters-widget.html" %}
{% endblock %}
