{% load static static_version site_tags %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="yandex-tableau-widget" content="logo={{ ROOT_LINK }}{% static "site/images/favicons/tableau-logo.png" %}{% static_version %}, color=#ffffff" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="format-detection" content="address=no" />
        <meta name="theme-color" content="#0073FF">

        {% block seo %}
        {% endblock %}

        {{ request.SETTINGS.meta_tags|safe }}

        {% block og %}
        {% endblock %}

        <title>{% block title %}Про Амурск{% endblock %}</title>

        <link href="{% static "site/images/favicons/120.png" %}{% static_version %}" rel="apple-touch-icon" sizes="120x120"/>
        <link href="{% static "site/images/favicons/152.png" %}{% static_version %}" rel="apple-touch-icon" sizes="152x152"/>
        <link href="{% static "site/images/favicons/180.png" %}{% static_version %}" rel="apple-touch-icon" sizes="180x180"/>
        <link href="{% static "site/images/favicons/32.png" %}{% static_version %}" rel="icon" sizes="32x32"/>
        <link href="{% static "site/images/favicons/57.png" %}{% static_version %}" rel="icon" sizes="57x57"/>
        <link href="{% static "site/images/favicons/76.png" %}{% static_version %}" rel="icon" sizes="76x76"/>
        <link href="{% static "site/images/favicons/128.png" %}{% static_version %}" rel="icon" sizes="128x128"/>
        <link href="{% static "site/images/favicons/192.png" %}{% static_version %}" rel="icon" sizes="192x192"/>

        <link rel="stylesheet" href="{% static "site/css/main.min.css" %}{% static_version %}">
        <svg class="visually-hidden" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <symbol id="icon-bullet-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 2H4V0H16V2Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 9H4V7H16V9Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 16H4V14H16V16Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H2V2H0V0Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 7H2V9H0V7Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 14H2V16H0V14Z"/>
            </symbol></svg>
    </head>

    <body>
        <div class="notification-wrapper notification-wrapper_no-animation">
            <span class="notification__icon notification__icon_success icon-success"></span>
            <span class="notification__icon notification__icon_error icon-error"></span>
            <div class="notification__message"></div>
            <button class="notification__close icon-close"></button>
        </div>

        <div class="body-overlay hidden"></div>

        {% include "site/page-block/popup.html" %}

        <header class="header">
            <div class="container header-container">
                <a href="{% url "index" %}" class="header__logo-link">
                    <img src="{% static "site/images/svg/logo-header.svg" %}{% static_version %}" alt="проАмурск" class="header__logo-img">
                    {% with url_name=request.resolver_match.url_name %}
                        {% if url_name == 'index' or url_name == 'policy' or url_name == 'search' %}
                            <span class="header__logo-icon icon-logo-sign"></span>
                        {% endif %}

                        {% if url_name == 'news-list' or url_name == 'news-detail' %}
                            <span class="header__logo-icon icon-logo-news"></span>
                        {% endif %}

                        {% if url_name == 'events-index' or url_name == 'events-list-future' or url_name == 'events-list-past' or url_name == 'events-detail' or url_name == 'reports-list' or url_name == 'reports-detail' or url_name == 'films-detail' %}
                            <span class="header__logo-icon icon-logo-event"></span>
                        {% endif %}

                        {% if url_name == 'history-list' or url_name == 'history-detail' %}
                            <span class="header__logo-icon icon-logo-history"></span>
                        {% endif %}

                        {% if url_name == 'places-list' or url_name == 'places-detail' or url_name == 'city-guides-detail' %}
                            <span class="header__logo-icon icon-geo-stroke"></span>
                        {% endif %}

                        {% if url_name == 'persons-list' or url_name == 'persons-detail' %}
                            <span class="header__logo-icon icon-logo-people"></span>
                        {% endif %}

                        {% if url_name == 'specials-list' or url_name == 'specials-detail' %}
                            <span class="header__logo-icon icon-star-sharp"></span>
                        {% endif %}
                    {% endwith %}

                    <span class="header__logo-subtext">МЕСТА, СОБЫТИЯ, ЛЮДИ</span>
                </a>

                <img src="{% static "site/images/svg/header-pattern.svg" %}{% static_version %}" alt="" class="header__pattern header__pattern_desktop">

                {% get_weather as temp %}
                <div class="header__weather-widget">{% if temp %}{{ temp }} °C{% endif %}</div>

                <div class="header__nav-wrap js-mobile-menu">
                    <div class="header__nav-wrap_inner">
                        <div class="header__nav">
                            {% include "site/page-block/site-nav.html" %}
                        </div>
                        <div class="header-mobile-nav__bottom-section">
                            <div class="header__social-wrap">
                                <div class="social-wrap">
                                    {% if request.SETTINGS.instagram %}
                                        <a href="{{ request.SETTINGS.instagram }}" class="social-link icon-instagram" alt="Инстаграм" target="_blank"></a>
                                    {% endif %}
                                    {% if request.SETTINGS.odnoklassniki %}
                                        <a href="{{ request.SETTINGS.odnoklassniki }}" class="social-link icon-odnoklassniki" alt="Одноклассники" target="_blank"></a>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="header__mobile-actions">
                                <button class="show-pop-up" data-pop-up="to-editor">Написать в редакцию</button>
                                <a href="{% url "policy" %}">Политика конфиденциальности</a>
                                <a href="http://piligrims.ru/" target="_blank" class="footer__copyright">Нарисовано в студии «Пилигрим»</a>
                                <a href="http://perfectura.ru/" target="_blank" class="footer__copyright">Сделано в студии «Перфектура»</a>
                                <div class="header__mobile-copyright">© 2019, ПроАмурск </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="header__search-btn icon-search"></button>
                <button class="header__menu-toggler js-mobile-menu-toggler icon-menu"></button>
        </header>


        {% block content %}

        {% endblock %}

        {% block additional_content %}

        {% endblock %}

        <footer>
            <div class="container">
    {#            <div class="footer__subscribe-section">#}
    {#                <img src="{% static "site/images/svg/subscribe.svg" %}{% static_version %}" alt="" class="subscribe-img">#}
    {#                <div class="subscribe-title">Еженедельная рассылка о&nbsp;главных событиях города</div>#}
    {##}
    {#                <form class="subscribe-form">#}
    {#                    <div class="input-wrap subscribe-form__input-wrap">#}
    {#                        <input type="text" name="email" class="subscribe-form__input required-input" placeholder="Ваш E-mail">#}
    {#                    </div>#}
    {#                    <input type="submit" class="js-subscribe-form__submit subscribe-form__submit btn btn_white" value="Подписаться">#}
    {#                </form>#}
    {#                <div class="js-subscribe-form__submited subscribe-form__submited hidden">Мы выслали письмо для подтверждения, проверьте почту. Спасибо</div>#}
    {#            </div>#}

                <a href="{{ request.SETTINGS.instagram }}" class="footer__instagram-banner-link" target="_blank"><img src="" data-src="{% static "site/images/instagram-footer.jpg" %}{% static_version %}" alt="" class="instagram-banner instagram-banner_footer lazyload"></a>
                <a href="{{ request.SETTINGS.instagram }}" class="footer__instagram-mobile-block" target="_blank">
                    <span class="icon-instagram"></span>
                    <h3>Вся интересная жизнь Амурска в&nbsp;вашем телефоне</h3>
                    <p>Подписывайтесь на&nbsp;нас в&nbsp;«Инстаграме» @proamursk.ru</p>
                </a>

                <div class="footer__main">
                    <div class="footer-top">
                        <a href="{% url "index" %}" class="footer__logo-link"><img src="{% static "site/images/svg/logo-white.svg" %}{% static_version %}" alt="проАмурск" class="footer__logo-img"></a>

                        <div class="footer__nav">
                            {% include "site/page-block/site-nav.html" %}
                        </div>
                    </div>

                    <div class="footer-bottom">
                        <div class="footer__copyright-wrap">
                            <p class="footer__copyright-text">Исключительные права на фото- и иные материалы принадлежат авторам. Любое размещение материалов на сторонних ресурсах необходимо согласовывать с правообладателями.</p>
                            <div class="footer__redaction">
                                <p>Автономная некоммерческая организация по поддержке и развитию общественных инициатив «Калейдоскоп»</p>
                                <p>г. Амурск, проспект Мира 19, офис № 219 (2 этаж)</p>
                                <p><a href="tel:+7 (924) 317-39-69">+7 (924) 317-39-69</a>, <a href="mailto:hello@proamursk.ru">hello@proamursk.ru</a></p>
                            </div>
                        </div>

                        <div class="footer__editor-text">Нашли опечатку?<br>Выделите слово и нажмите Ctrl+Enter</div>

                        <div class="footer__social-wrap">
                            <div class="social-wrap">
                                {% if request.SETTINGS.instagram %}
                                    <a href="{{ request.SETTINGS.instagram }}" class="social-link icon-instagram" alt="Инстаграм" target="_blank"></a>
                                {% endif %}
                                {% if request.SETTINGS.odnoklassniki %}
                                    <a href="{{ request.SETTINGS.odnoklassniki }}" class="social-link icon-odnoklassniki" alt="Одноклассники" target="_blank"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer__copyright-section">
                    <button class="show-pop-up" data-pop-up="to-editor">Написать в редакцию</button>
                    <a href="{% url "policy" %}">Политика конфиденциальности</a>
                    <a href="http://piligrims.ru/" target="_blank" class="footer__copyright">Нарисовано в студии «Пилигрим»</a>
                    <a href="http://perfectura.ru/" target="_blank" class="footer__copyright">Сделано в студии «Перфектура»</a>
                    <div class="footer__company-copyright">© {% now "Y" %}, ПроАмурск</div>
                </div>
            </div>
        </footer>

        <script src="{% static "site/js/main.min.js" %}{% static_version %}"></script>

        {{ request.SETTINGS.google_count|safe }}
        {{ request.SETTINGS.yandex_count|safe }}
    </body>
</html>