{% load static static_version %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="yandex-tableau-widget" content="'images/favicons/tableau-logo.png', color=#FCE420" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="theme-color" content="#FCE420">

    <title>Про Амурск</title>

    <link href="{% static "site/images/favicons/favicon.svg" %}{% static_version %}" color="#000000" rel="mask-icon" />
    <link href="{% static "site/images/favicons/favicon.ico" %}{% static_version %}" rel="shortcut icon" />
    <link href="{% static "site/images/favicons/57.png" %}{% static_version %}" rel="apple-touch-icon" />
    <link href="{% static "site/images/favicons/76.png" %}{% static_version %}" rel="apple-touch-icon" sizes="76x76" />
    <link href="{% static "site/images/favicons/120.png" %}{% static_version %}" rel="apple-touch-icon" sizes="120x120" />
    <link href="{% static "site/images/favicons/152.png" %}{% static_version %}" rel="apple-touch-icon" sizes="152x152" />
    <link href="{% static "site/images/favicons/180.png" %}{% static_version %}" rel="apple-touch-icon" sizes="180x180" />
    <link href="{% static "site/images/favicons/128.png" %}{% static_version %}" rel="icon" sizes="128x128" />
    <link href="{% static "site/images/favicons/192.png" %}{% static_version %}" rel="icon" sizes="192x192" />

    <link rel="stylesheet" href="{% static "site/css/main.min.css" %}{% static_version %}">
</head>

<body>
    <div class="notification-wrapper success">
        <div class="notification__message">Изменения сохранены</div>
        <button class="notification__close icon-close"></button>
    </div>
    <div class="notification-wrapper error">
        <div class="notification__message">Попробуйте повторить попытку позже</div>
        <button class="notification__close icon-close"></button>
    </div>

    <div class="body-overlay hidden"></div>

    {#  @@include('page-block/popup.html')#}

    <header>
        <div class="container header-container">
            <a href="index.html" class="header__logo-link">
{#                @@if (page === "index") {#}
{#                    <img src="images/svg/logo.svg" alt="проАмурск" class="header__logo-img header__logo-img_index">#}
{#                }#}
{#    #}
{#                @@if (page === "news") {#}
{#                    <img src="images/svg/logo_news.svg" alt="проАмурск" class="header__logo-img header__logo-img_other">#}
{#                }#}
{#    #}
{#                @@if (page === "event") {#}
{#                    <img src="images/svg/logo_event.svg" alt="проАмурск" class="header__logo-img header__logo-img_other">#}
{#                }#}
{#    #}
{#                @@if (page === "history") {#}
{#                    <img src="images/svg/logo_history.svg" alt="проАмурск" class="header__logo-img header__logo-img_other">#}
{#                }#}
            </a>

            <div class="header__nav">
{#                @@include('page-block/site-nav.html', {#}
{#                    "active": "@@page"#}
{#                })#}
            </div>

            <div class="header__weather-widget weather-widget">
                <img src="{% static "site/images/weather-widget.svg" %}{% static_version %}" alt="">
            </div>

            <button class="header__search-btn icon-search show-pop-up" data-pop-up="search"></button>
        </div>
    </header>


    {% block content %}

    {% endblock %}

    {% block additional_content %}

    {% endblock %}

    <footer>
        <div class="container">
            <div class="footer__subscribe-section">
                <img src="{% static "site/images/svg/subscribe.svg" %}{% static_version %}" alt="" class="subscribe-img">
                <div class="subscribe-title">Еженедельная рассылка о&nbsp;главных событиях города</div>

                <form class="subscribe-form">
                    <div class="input-wrap subscribe-form__input-wrap">
                        <input type="text" name="email" class="input-base subscribe-form__input required-input" placeholder="Ваш E-mail">
                    </div>
                    <input type="submit" class="js-subscribe-form__submit subscribe-form__submit btn btn_size_base btn_white" value="Подписаться">
                    <div class="js-subscribe-form__submited subscribe-form__submited subscribe-form__submit btn btn_size_base hidden">Вы подписаны</div>
                </form>
            </div>

            <div class="footer__main">
                <div class="footer-top">
                    <a href="index.html" class="footer__logo-link"><img src="{% static "site/images/svg/logo.svg" %}{% static_version %}" alt="проАмурск" class="footer__logo-img"></a>

                    <div class="footer__nav">
{#                        @@include('page-block/site-nav.html', {#}
{#                            "active": ""#}
{#                        })#}
                    </div>
                </div>

                <div class="footer-bottom">
                    <p class="footer__copyright-text">Исключительные права на&nbsp;фото- и&nbsp;иные материалы принадлежат авторам. Любое размещение материалов на&nbsp;сторонних ресурсах необходимо согласовывать с&nbsp;правообладателями.</p>

                    <div class="footer__editor-text">Нашли опечатку?<br>Выделите слово и нажмите Ctrl+Enter</div>

                    <div class="footer__social-wrap">
                        <div class="social-wrap">
                            <a href="" class="social-link">
                                <img src="{% static "site/images/svg/instagram.svg" %}{% static_version %}" alt="Инстаграм">
                            </a>
                            <a href="" class="social-link">
                                <img src="{% static "site/images/svg/odnoklassniki-white.svg" %}{% static_version %}" alt="Одноклассники">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer__copyright-section">
                <div class="footer__copyright-subblock">
                    <div class="footer__company-copyright">© 2019, ПроАмурск </div>
                    <button>Написать в редакцию</button>
                    <a href="">Политика конфиденциальности</a>
                </div>

                <div class="footer__copyrights-wrap">
                    <a href="http://piligrims.ru/" target="_blank" class="footer__copyright">Нарисовано в студии «Пилигрим»</a>
                    <a href="http://perfectura.ru/" target="_blank" class="footer__copyright">Сделано в студии «Перфектура»</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static "site/js/main.min.js" %}{% static_version %}"></script>

</body>
</html>