{% extends "site/base.html" %}
{% load static static_version %}
{% load media_filters %}
{% load pytils_dt %}
{% load site_tags %}
{% load utils_tags %}
{% load posteditor_tags %}

{% block title %}
    {{ guide.meta_title|default:guide.title }}
{% endblock %}

{% block seo %}
    <meta name="keywords" content="{{ guide.meta_keywords }}">
    <meta name="description" content="{{ guide.meta_description }}">
{% endblock %}

{% block og %}
    {% og_meta_tags og_title=guide.meta_title|default:guide.title og_description=guide.meta_description og_image=guide.og_image|default:guide.cover|get_thumbnail_url_by_name:"og_image_default" %}
{% endblock %}


{% block content %}
    <main>
        <div class="container">
            <div class="base-layout">
                <div class="base-layout__main">
                    <article class="publication">
                        <figure class="city-guide__cover-wrap">
                            <img src="{% static "site/images/svg/city-guide-cover.svg" %}{% static_version %}" alt="" class="city-guide__cover">
                            <span class="city-guide__cover-icon icon-{{ guide.guide_format }}"></span>
                            <figcaption class="city-guide__img-figcaption">
                                <img src="{% static "site/images/svg/wobbler-city-guide.svg" %}{% static_version %}" alt="" class="city-guide__cover-wobbler">
                                <h1 class="city-guide__title">{{ guide.title }}</h1>
                            </figcaption>
                        </figure>

                        <div class="publication__content">
                            <div class="city-guide-item">
                                <img src="{% static "site/images/city-guide-cover1.jpg" %}{% static_version %}" alt="" class="city-guide-item__cover">
                                <div class="city-guide-item__text-wrap">
                                    <h2 class="city-guide-item__title">
                                        <img src="{% static "site/images/svg/city-guide-bus-icon.svg" %}{% static_version %}" alt="" class="city-guide-item__title-icon">
                                        Автобусы</h2>
                                    <p>Амурск — очень компактный город. Можно сказать, что почти все здесь находится в шаговой доступности. Здесь не бывает пробок, а транспорт ходит часто и без задержек.</p>

                                    <section class="city-guide-item__section">
                                        <h3 class="city-guide-item__subtitle">Городские маршруты:</h3>

                                        <table class="city-guide-table city-guide-table_bus-inner-city">
                                            <tr class="city-guide-table__tr">
                                                <th class="city-guide-table__td city-guide-table__th">№ автобуса</th>
                                                <th class="city-guide-table__td city-guide-table__th">Маршрут</th>
                                                <th class="city-guide-table__td city-guide-table__th city-guide-table__th_center">Начало и конец движения</th>
                                            </tr>
                                            <tr class="city-guide-table__tr">
                                                <td class="city-guide-table__td">1</td>
                                                <td class="city-guide-table__td">«Автовокзал — п. Индивидуальный — 8-й микрорайон»</td>
                                                <td class="city-guide-table__td">7:05 / 18:52</td>
                                            </tr>
                                            <tr class="city-guide-table__tr">
                                                <td class="city-guide-table__td">4</td>
                                                <td class="city-guide-table__td">«Автовокзал — 8-й микрорайон»</td>
                                                <td class="city-guide-table__td">6:05 / 22:34</td>
                                            </tr>
                                            <tr class="city-guide-table__tr">
                                                <td class="city-guide-table__td">6</td>
                                                <td class="city-guide-table__td">«Автовокзал — 8-й микрорайон»</td>
                                                <td class="city-guide-table__td">5:41 / 22:38</td>
                                            </tr>
                                            <tr class="city-guide-table__tr">
                                                <td class="city-guide-table__td">7</td>
                                                <td class="city-guide-table__td">«Автовокзал — Вымпел»</td>
                                                <td class="city-guide-table__td">6:30 / 17:42</td>
                                            </tr>
                                            <tr class="city-guide-table__tr">
                                                <td class="city-guide-table__td">9</td>
                                                <td class="city-guide-table__td">«Автовокзал — ГСК»</td>
                                                <td class="city-guide-table__td">7:18 / 17:38</td>
                                            </tr>
                                        </table>

                                        <div class="city-guide-note">
                                            <span class="city-guide-note__icon icon-coin"></span>
                                            <div class="city-guide-note__text">Цена билетов: <br>До 20:00 — 22 руб., после 20:00 — 30 руб.</div>
                                        </div>
                                    </section>

                                    <section class="city-guide-item__section">
                                        <h3 class="city-guide-item__subtitle">Междугородние и пригородные маршруты:</h3>

                                        <table class="city-guide-table city-guide-table_bus-outer-city">
                                            <tr class="city-guide-table__tr">
                                                <th class="city-guide-table__td city-guide-table__th">№ автобуса</th>
                                                <th class="city-guide-table__td city-guide-table__th">Маршрут</th>
                                                <th class="city-guide-table__td city-guide-table__th">Расписание</th>
                                                <th class="city-guide-table__td city-guide-table__th city-guide-table__th_center">Цена</th>
                                            </tr>
                                            <tr class="city-guide-table__tr">
                                                <td class="city-guide-table__td">300</td>
                                                <td class="city-guide-table__td">Амурск — Хабаровск</td>
                                                <td class="city-guide-table__td">07.50, 13.00, 23.00</td>
                                                <td class="city-guide-table__td">980 руб.</td>
                                            </tr>
                                            <tr class="city-guide-table__tr">
                                                <td class="city-guide-table__td">120</td>
                                                <td class="city-guide-table__td">Амурск — Комсомольск</td>
                                                <td class="city-guide-table__td">08.45, 10.00, 10.50, 11.30, 12.00, 12.45, 14.00, 14.50, 15.40, 16.00, 16.45, 18.00, 18.50, 19.30, 20.15</td>
                                                <td class="city-guide-table__td">130 руб.</td>
                                            </tr>
                                            <tr class="city-guide-table__tr">
                                                <td class="city-guide-table__td">124</td>
                                                <td class="city-guide-table__td">Амурск — Эльбан</td>
                                                <td class="city-guide-table__td">10.40, 13.30, 16.10</td>
                                                <td class="city-guide-table__td">125 руб.</td>
                                            </tr>
                                            <tr class="city-guide-table__tr">
                                                <td class="city-guide-table__td">103</td>
                                                <td class="city-guide-table__td">Амурск — ст. Мылки</td>
                                                <td class="city-guide-table__td">08.00, 09.25, 13.10, 15.50, 18.10, 20.45</td>
                                                <td class="city-guide-table__td">80 руб.</td>
                                            </tr>
                                            <tr class="city-guide-table__tr">
                                                <td class="city-guide-table__td">108</td>
                                                <td class="city-guide-table__td">Амурск — Омми</td>
                                                <td class="city-guide-table__td">Пн–Пт: 7.35, 18.10
                                                        Вс: 18.10.</td>
                                                <td class="city-guide-table__td">78 руб.</td>
                                            </tr>
                                        </table>

                                        <div class="city-guide-note">
                                            <span class="city-guide-note__icon icon-coin"></span>
                                            <div class="city-guide-note__text">Стоимость детского билета и провоза багажа уточняйте на кассах.</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="city-guide__separator post-editor__block_separator">
                                <div class="line"><img src="{% static "site/images/svg/base-logo-sign.svg" %}{% static_version %}" alt=""></div>
                            </div>

                            <div class="city-guide-item">
                                <img src="{% static "site/images/city-guide-cover2.jpg" %}{% static_version %}" alt="" class="city-guide-item__cover">
                                <div class="city-guide-item__text-wrap">
                                    <h2 class="city-guide-item__title">
                                        <img src="{% static "site/images/svg/city-guide-taxi-icon.svg" %}{% static_version %}" alt="" class="city-guide-item__title-icon">
                                        Такси</h2>

                                    <p>В городе работает несколько служб такси. За 100 руб. можно добраться практически в любую точку. Поездка до железнодорожного вокзала (станция Мылки) обойдется в 400 руб.</p>

                                    <div class="city-guide-item__taxi-grid">
                                        <div class="taxi-grid-item">
                                            <img src="{% static "site/images/city-guide-taxi1.jpg" %}{% static_version %}" alt="" class="taxi-grid-item__img">
                                            <div class="taxi-grid-item__title">Такси Maxim</div>
                                            <a href="tel:999000" class="taxi-grid-item__phone">
                                                <span class="icon-phone"></span>
                                                999-000
                                            </a>
                                        </div>
                                        <div class="taxi-grid-item">
                                            <img src="{% static "site/images/city-guide-taxi2.jpg" %}{% static_version %}" alt="" class="taxi-grid-item__img">
                                            <div class="taxi-grid-item__title">Такси «Аист»</div>
                                            <a href="tel:901901" class="taxi-grid-item__phone">
                                                <span class="icon-phone"></span>
                                                901-901
                                            </a>
                                        </div>
                                        <div class="taxi-grid-item">
                                            <img src="{% static "site/images/city-guide-taxi3.jpg" %}{% static_version %}" alt="" class="taxi-grid-item__img">
                                            <div class="taxi-grid-item__title">Такси «Наш город»</div>
                                            <a href="tel:+74214225555" class="taxi-grid-item__phone">
                                                <span class="icon-phone"></span>
                                                +7 (4214) 22-55-55
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="publication__footer">
                                {% include "site/page-block/share-widget.html" %}
                            </div>
                        </div>
                    </article>
                </div>

                <aside class="base-layout__aside">
                    <div class="aside-widget">
                       {% include "site/modules/place-links-widget.html" %}
                    </div>
                    <div class="aside-widget">
                        {% include "site/page-block/aside-subscribe-widget.html" %}
                    </div>
                    <div class="aside-widget">
                        {% with css_class="place" btn_text="Добавить отзыв о месте" offer_text="Любой житель Амурска может поделиться своим мнением об&nbsp;этом месте с&nbsp;редакцией сайта.<br>Для нас очень важно участие амурчан в&nbsp;жизни своего города." %}
                            {% include "site/modules/offer-widget.html" %}
                        {% endwith %}
                    </div>

                    {% get_banner %}
                </aside>
            </div>
        </div>
    </main>
{% endblock %}

{% block additional_content %}
    {% read_also %}
{% endblock %}