{% extends "site/base.html" %}
{% load static static_version %}
{% load utils_tags media_filters site_tags %}

{% block title %}
    {% if content_page %}
        {{ content_page.meta_title|default:content_page.name }}
    {% endif %}
{% endblock %}

{% block seo %}
    <meta name="keywords" content="{{ content_page.meta_keywords }}">
    <meta name="description" content="{{ content_page.meta_description }}">
{% endblock %}

{% block og %}
    {% if content_page %}
        {% og_meta_tags og_title=content_page.meta_title|default:content_page.name og_description=content_page.meta_description og_image=content_page.og_image|get_thumbnail_url_by_name:"og_image_default" %}
    {% endif %}
{% endblock %}


{% block content %}
    <main class="light-bg">
        <div class="container">
            <div class="index-manage-grid">
                {% last_news %}

                {% for top_item in top_objects %}

                    {% if forloop.counter == 1 %}
                        {% with item=top_item.get_object css_class='grid-publication_8-col' cover_name="8_column_img" %}
                            {% if item %}
                                {% if top_item.codename == 'event' or top_item.codename == 'report' %}
                                    {% include "site/modules/grid-event.html" %}
                                {% else %}
                                    {% include "site/modules/grid-publication.html" %}
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                    {% if forloop.counter == 2 %}
                        {% with item=top_item.get_object css_class='grid-publication_text-size-base' cover_name="3_column_img_"|add:top_item.get_object.cover_format %}
                            {% if item %}
                                {% if top_item.codename == 'event' or top_item.codename == 'report' %}
                                    {% include "site/modules/grid-event.html" %}
                                {% else %}
                                    {% include "site/modules/grid-publication.html" %}
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                    {% if forloop.counter == 3 %}
                        {% with item=top_item.get_object css_class='grid-publication_text-size-base' cover_name="3_column_img_"|add:top_item.get_object.cover_format %}
                            {% if item %}
                                {% if top_item.codename == 'event' or top_item.codename == 'report' %}
                                    {% include "site/modules/grid-event.html" %}
                                {% else %}
                                    {% include "site/modules/grid-publication.html" %}
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                    {% if forloop.counter == 4 %}
                        {% with css_class="grid-publication_6-col" item=top_item.get_object cover_name="6_column_img_"|add:top_item.get_object.cover_format %}
                            {% if item %}
                                {% if top_item.codename == 'event' or top_item.codename == 'report' %}
                                    {% include "site/modules/grid-event.html" %}
                                {% else %}
                                    {% include "site/modules/grid-publication.html" %}
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {% if content_blocks.show_banner.content %}
            <a href="" class="layout-section container banner">
                <img src="{{ wide_banner.cover|get_thumbnail_url_by_name:"wide_banner" }}" alt="" class="banner__img">
            </a>
        {% else %}
            <div class="layout-section slider full-width-slider">
                <div class="slider-container">
                    {% for item in specials %}
                        <div class="slide">
                            {% with cover_name="specials_index" class="grid-publication_full-width-slider" %}
                                {% include "site/modules/special-project.html" %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                </div>
                <div class="slider-circles-container"></div>
                {%  if specials|length > 1 %}
                    <div class="slider-arrow-container">
                        <button class="slider-arrow slider-arrow-prev slider-arrow_round icon-arrow-left active"></button>
                        <button class="slider-arrow slider-arrow-next slider-arrow_round icon-arrow-right active"></button>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="container layout-section">
            <h2 class="section__title">ЧЕМ ЗАНЯТЬСЯ В АМУРСКЕ?</h2>
            <div class="todo-layout">
                {% include "site/page-block/cinema-widget.html" %}

                {% for item in what_to_do %}
                    {% if forloop.counter == 1 %}
                        {% with css_class="grid-publication_6-col" model_name=item|get_model_name cover_name="8_column_img" %}
                            {% if model_name == 'event' or model_name == 'report' %}
                                {% include "site/modules/grid-event.html" %}
                            {% else %}
                                {% include "site/modules/grid-publication.html" %}
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        {% with model_name=item|get_model_name cover_name="3_column_img_"|add:item.cover_format %}
                            {% if model_name == 'event' or model_name == 'report' %}
                                {% include "site/modules/grid-event.html" %}
                            {% else %}
                                {% include "site/modules/grid-publication.html" %}
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

{% block additional_content %}
    {% read_also %}
{% endblock %}