{% load static static_version %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="yandex-tableau-widget" content="'images/favicons/tableau-logo.png', color=#ffffff" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="theme-color" content="#0073FF">

    <title>Сайт временно недоступен</title>

    <link href="{% static "site/images/favicons/favicon.svg" %}{% static_version %}" color="#FCE420" rel="mask-icon" />
    <link href="{% static "site/images/favicons/favicon.ico" %}{% static_version %}" rel="shortcut icon" />
    <link href="{% static "site/images/favicons/57.png" %}{% static_version %}" rel="apple-touch-icon" />
    <link href="{% static "site/images/favicons/76.png" %}{% static_version %}" rel="apple-touch-icon" sizes="76x76" />
    <link href="{% static "site/images/favicons/120.png" %}{% static_version %}" rel="apple-touch-icon" sizes="120x120" />
    <link href="{% static "site/images/favicons/152.png" %}{% static_version %}" rel="apple-touch-icon" sizes="152x152" />
    <link href="{% static "site/images/favicons/180.png" %}{% static_version %}" rel="apple-touch-icon" sizes="180x180" />
    <link href="{% static "site/images/favicons/128.png" %}{% static_version %}" rel="icon" sizes="128x128" />
    <link href="{% static "site/images/favicons/192.png" %}{% static_version %}" rel="icon" sizes="192x192" />

    <link rel="stylesheet" href="{% static "site/css/short-styles.min.css" %}{% static_version %}">
</head>

<body class="container">
    <header class="maintenance-mode__header">
        <img src="{% static "site/images/svg/logo-black.svg" %}{% static_version %}" alt="" class="maintenance-mode__logo">
    </header>
    <main class="maintenance-mode__main">
        <h1 class="maintenance-mode__title">{{ new_settings.disable_title }}</h1>
        <div class="maintenance-mode__text-wrap">
            <div class="wysiwyg-container">
                {{ new_settings.disable_text|safe }}
            </div>
        </div>
        <img src="{% static "site/images/svg/maintenance-mode.svg" %}{% static_version %}" alt="" class="maintenance-mode__img">
    </main>
</body>
</html>