{% extends "site/base.html" %}
{% load static static_version %}
{% load media_filters %}
{% load pytils_dt %}
{% load site_tags %}


{% block content %}
    <main>
        <div class="container">
            <div class="base-layout">
                <div class="base-layout__main">
                    <article class="publication">
                        <figure class="publication__cover-wrap">
                            <img src="{{ news.cover|get_thumbnail_url_by_name:"news_cover" }}" alt="" class="publication__cover">
                            <figcaption class="publication__img-figcaption">
                                <span class="publication__img-author">Источник изображения (автор)</span>
                            </figcaption>
                        </figure>

                        <div class="publication__content">
                            <div class="publication__additional-info-wrap publication__additional-info-wrap_row">
                                <div class="publication__rubric"><span class="publication__rubric-icon icon-news"></span>Новости</div>

                                <div class="publication__date">{{ news.publication_date|ru_strftime:"%H:%M, %d %B %Y" }}00:00, 21 мая 2018</div>
                            </div>

                            <h1 class="publication__title">{{ news.title }}</h1>

                            <p class="publication__lead">{{ news.lead }}</p>

                            <div class="wysiwyg-container">
                                {{ news.content|safe }}
                            </div>

                            <div class="publication__footer">
                                <div class="publication__author">Автор материала</div>

                                {% include "site/page-block/share-widget.html" %}
                            </div>
                        </div>
                    </article>
                </div>

                <aside class="base-layout__aside">
                    <div class="aside-widget">
                        <div class="aside-last-news">
                            {% last_news %}
                        </div>
                    </div>
                    <div class="aside-widget">
                        {% include "site/page-block/aside-subscribe-widget.html" %}
                    </div>
{#                    <div class="aside-widget">#}
{#                        @@include('modules/offer-widget.html', {#}
{#                            "class": "news",#}
{#                            "text": "Любой житель Амурска может поделиться интересными новостями с&nbsp;редакцией сайта.<br>Для нас очень важно участие амурчан в&nbsp;жизни своего города.",#}
{#                            "btnText": "Предложить новость"#}
{#                        })#}
{#                    </div>#}
                </aside>
            </div>
        </div>
    </main>
{% endblock %}

{% block additional_content %}
{#    @@include("page-block/read-also.html") #}
{% endblock %}