{% extends "site/base.html" %}
{% load static static_version site_tags utils_tags %}
{% load media_filters %}

{% block title %}
    {% if content_page %}
        {{ content_page.meta_title|default:content_page.name }}
    {% endif %}
{% endblock %}

{% block seo %}
    <meta name="keywords" content="{{ content_page.meta_keywords }}">
    <meta name="description" content="{{ content_page.meta_description }}">
{% endblock %}

{% block og %}
    {% if content_page %}
        {% og_meta_tags og_title=content_page.meta_title|default:content_page.name og_description=content_page.meta_description og_image=content_page.og_image|get_thumbnail_url_by_name:"og_image_default" %}
    {% endif %}
{% endblock %}

{% block content %}
<main class="light-bg">
    <div class="container">
        <div class="base-layout">
            {% if events %}
                <div class="base-layout__main">
                    {% with item=events.0 css_class='grid-publication_text-size-big' cover_name="8_column_img" wobler_type="announcement" %}
                        {% include "site/modules/grid-event.html" %}
                    {% endwith %}
                </div>
            {% endif %}

            <aside class="base-layout__aside">
                <div class="aside-widget">
                    {% include "site/modules/events-links-widget.html" %}
                </div>

                <div class="aside-widget">
                    {% with css_class="event" btn_text="Поделиться событием" offer_text="Любой житель Амурска может поделиться интересными событиями с&nbsp;редакцией сайта.<br>Для нас очень важно участие амурчан в&nbsp;жизни своего города." %}
                        {% include "site/modules/offer-widget.html" %}
                    {% endwith %}
                </div>
            </aside>
        </div>

        <div class="base-3items-grid">
            {% for item in events|slice:"1:4" %}
                {% if forloop.counter == 1 %}
                    {% with css_class='grid-publication_cover-format-bigger' cover_name="3_column_img_"|add:item.cover_format wobler_type="announcement" %}
                        {% include "site/modules/grid-event.html" %}
                    {% endwith %}
                {% endif %}
                {% if forloop.counter == 2 %}
                    {% with css_class='grid-publication_text-size-base' cover_name="3_column_img_"|add:item.cover_format add_link=False wobler_type="announcement" %}
                        {% include "site/modules/grid-event.html" %}
                    {% endwith %}
                {% endif %}
                {% if forloop.counter == 3 %}
                    {% with css_class='grid-publication_cover-format-6col' cover_name="6_column_img_"|add:item.cover_format wobler_type="announcement" %}
                        {% include "site/modules/grid-event.html" %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="js-infinity-loader-wrap">
            <div class="base-4items-grid js-infinity-loader-grid">
                {% for item in events|slice:"4:" %}
                    {% with css_class=' grid-publication_cover-format-bigger' cover_name="3_column_img_"|add:item.cover_format wobler_type="announcement" %}
                        {% include "site/modules/grid-event.html" %}
                    {% endwith %}
                {% endfor %}
            </div>
            {% if has_next %}
                <button class="btn btn_blue btn_more btn_center js-more-past-events" data-page-count="1">Показать еще <span class="icon-arrow-down-dir"></span></button>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}

{% block additional_content %}
    {% read_also %}
{% endblock %}