{% extends "site/base.html" %}
{% load static static_version %}
{% load media_filters %}
{% load site_tags %}
{% load utils_tags %}

{% block content %}
    <main>
        <div class="container">
            <div class="base-layout privacy-page">
                <div class="base-layout__main">
                    <article class="publication privacy">
                        <h1 class="privacy__title">{{ content_blocks.title.content }}</h1>
                        <div class="wysiwyg-container js-privacy-container">
                            {{ content_blocks.description.content|safe }}
                        </div>
                    </article>
                </div>

                <aside class="base-layout__aside">
                    <ol class="privacy__list js-privacy-nav">
                    </ol>
                </aside>
            </div>
        </div>
    </main>
{% endblock %}
