{% extends "site/base.html" %}
{% load static static_version %}
{% load media_filters %}
{% load site_tags %}
{% load utils_tags %}

{% block content %}
    <main>
        <div class="container">
            <div class="base-layout privacy-page">
                <div class="base-layout__main">
                    <article class="publication privacy">
                        <h1 class="publication__title">Политика конфиденциальности</h1>
                        <div class="wysiwyg-container js-privacy-container">
                            {{ content_blocks.content|safe }}
                        </div>
                    </article>
                </div>

                <aside class="base-layout__aside">
                    <ol class="privacy__list js-privacy-nav">
                        <!-- <li class="privacy__list-item"><a href="#privacy1" class="privacy__link">Термины</a></li>
                        <li class="privacy__list-item"><a href="#privacy2" class="privacy__link">Цель сбора персональных данных</a></li>
                        <li class="privacy__list-item"><a href="#privacy3" class="privacy__link">Основные принципы</a></li>
                        <li class="privacy__list-item"><a href="#privacy4" class="privacy__link">Обязательства</a></li>
                        <li class="privacy__list-item"><a href="#privacy5" class="privacy__link">Срок обработки</a></li>
                        <li class="privacy__list-item"><a href="#privacy6" class="privacy__link">Отзыв согласия</a></li> -->
                    </ol>
                </aside>
            </div>
        </div>
    </main>
{% endblock %}
