{% load media_filters %}

{% if films %}
    <div class="cinema-widget">
        <div class="cinema-widget__title">Сегодня в кино</div>

        <div class="cinema-widget__slider js-cinema-widget-slider">
            {% for film in films %}
                <a href="{% url "films-detail" film.id %}" class="cinema-widget__slide">
                    <img src="" data-lazy="{{ film.cover|get_thumbnail_url_by_name:"film_banner" }}" alt="" class="cinema-widget__slide-img">
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}