<div class="cinema-widget">
    <div class="cinema-widget__title">Сегодня в кино</div>

    <div class="slider cinema-widget__slider">
        <div class="slider-container">
            <a href="film-announcement.html" class="slide cinema-widget__slide">
                <img src="images/poster.jpg" alt="" class="cinema-widget__slide-img">
            </a>
            <a href="film-announcement.html" class="slide cinema-widget__slide">
                <img src="images/poster2.jpg" alt="" class="cinema-widget__slide-img">
            </a>
        </div>
        <div class="slider-circles-container"></div>
        <div class="slider-arrow-container">
            <button class="slider-arrow slider-arrow-prev slider-arrow_base icon-arrow-left active"></button>
            <button class="slider-arrow slider-arrow-next slider-arrow_base icon-arrow-right active"></button>
        </div>
    </div>
</div>
