{% load media_filters %}

{% if today_films or tomorrow_films or future_films %}
    <div class="additional-block layout-section movie-posters-widget tabs-wrap">
        <div class="container">
            <div class="movie-posters-widget__title-wrap">
                <h2 class="additional-block__title">Aфиша кинотеатра «Молодость»</h2>
                <div class="tab__btns-wrap movie-posters-widget__btns">
                    {% if today_films %}
                        <button class="tab__btn js-tab__btn btn btn_yellow movie-posters-widget__btn">Сегодня</button>
                    {% endif %}
                    {% if tomorrow_films %}
                        <button class="tab__btn js-tab__btn btn btn_yellow movie-posters-widget__btn">Завтра</button>
                    {% endif %}
                    {% if future_films %}
                        <button class="tab__btn js-tab__btn btn btn_yellow movie-posters-widget__btn">Все сеансы</button>
                    {% endif %}
                </div>
            </div>

            <div class="tab__content-wrap">
                {% if today_films %}
                    <div class="tab__content">
                        <div class="movie-posters-slider">
                            {% for film in today_films %}
                                <a href="{% url "films-detail" film.id %}" class="movie-posters-item">
                                    <div class="movie-posters-item__icons-wrap">
                                        {% if film.is_3d %}
                                            <span class="movie-posters-item__icon round-rating">3D</span>
                                        {% endif %}
                                        <span class="movie-posters-item__icon round-rating">{{ film.age_restriction }}</span>
                                    </div>
                                    <img src="{{ film.cover|get_thumbnail_url_by_name:"films_list" }}" alt="" class="movie-posters-item__cover">
                                    <div class="movie-posters-item__title">{{ film.title }}</div>
                                    <div class="movie-posters-item__genre">{{ film.genre }}</div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if tomorrow_films %}
                    <div class="tab__content">
                        <div class="movie-posters-slider">
                            {% for film in tomorrow_films %}
                                <a href="{% url "films-detail" film.id %}" class="movie-posters-item">
                                    <div class="movie-posters-item__icons-wrap">
                                        {% if film.is_3d %}
                                            <span class="movie-posters-item__icon round-rating">3D</span>
                                        {% endif %}
                                        <span class="movie-posters-item__icon round-rating">{{ film.age_restriction }}</span>
                                    </div>
                                    <img src="{{ film.cover|get_thumbnail_url_by_name:"films_list" }}" alt="" class="movie-posters-item__cover">
                                    <div class="movie-posters-item__title">{{ film.title }}</div>
                                    <div class="movie-posters-item__genre">{{ film.genre }}</div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if future_films %}
                    <div class="tab__content">
                        <div class="movie-posters-slider">
                            {% for film in future_films %}
                                <a href="{% url "films-detail" film.id %}" class="movie-posters-item">
                                    <div class="movie-posters-item__icons-wrap">
                                        {% if film.is_3d %}
                                            <span class="movie-posters-item__icon round-rating">3D</span>
                                        {% endif %}
                                        <span class="movie-posters-item__icon round-rating">{{ film.age_restriction }}</span>
                                    </div>
                                    <img src="{{ film.cover|get_thumbnail_url_by_name:"films_list" }}" alt="" class="movie-posters-item__cover">
                                    <div class="movie-posters-item__title">{{ film.title }}</div>
                                    <div class="movie-posters-item__genre">{{ film.genre }}</div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}