{% load static static_version %}
{% load media_filters %}

{% for banner in banners %}
    <div class="aside-widget">
        <a href="{{ banner.link }}" class="banner" target="_blank">
            {% if show_two_banners or banner_type == 'horizontal' %}
                <img src="" data-src="{{ banner.horizontal_cover|get_thumbnail_url_by_name:"horizontal_sidebar_banner" }}" alt="" class="banner__img banner__img_horizontal lazyload">
            {% else %}
                <img src="" data-src="{{ banner.cover|get_thumbnail_url_by_name:"sidebar_banner" }}" alt="" class="banner__img banner__img_vertical lazyload">
            {% endif %}
        </a>
    </div>
{% endfor %}