<ul class="site-nav">
    {% with url_name=request.resolver_match.url_name %}
        <li class="site-nav__item">
            <a href="{% url "news-list" %}" class="site-nav__link {% if url_name == 'news-list' or url_name == 'news-detail' %}active{% endif %}">
                <span class="site-nav__mobile-icon icon-news-menu"></span>
                Новости
            </a>
        </li>
        <li class="site-nav__item">
            <a href="{% url "events-index" %}" class="site-nav__link {% if url_name == 'events-index' or url_name == 'events-list-future' or url_name == 'events-list-past' or url_name == 'events-detail' or url_name == 'reports-list' or url_name == 'reports-detail' or url_name == 'films-detail' %}active{% endif %}">
                <span class="site-nav__mobile-icon icon-megafon-stroke"></span>
                События
            </a>
        </li>
        <li class="site-nav__item">
            <a href="{% url "history-list" %}" class="site-nav__link {% if url_name == 'history-list' or url_name == 'history-detail' %}active{% endif %}">
                <span class="site-nav__mobile-icon icon-history"></span>
                История
            </a>
        </li>
        <li class="site-nav__item">
            <a href="{% url "places-list" %}" class="site-nav__link {% if url_name == 'places-list' or url_name == 'places-detail' or url_name == 'city-guides-detail' %}active{% endif %}">
                <span class="site-nav__mobile-icon icon-geo-stroke"></span>
                Места
            </a>
        </li>
        <li class="site-nav__item">
            <a href="{% url "persons-list" %}" class="site-nav__link {% if url_name == 'persons-list' or url_name == 'persons-detail' %}active{% endif %}">
                <span class="site-nav__mobile-icon icon-people"></span>
                Люди
            </a>
        </li>
        <li class="site-nav__item">
            <a href="{% url "specials-list" %}" class="site-nav__link {% if url_name == 'specials-list' or url_name == 'specials-detail' %}active{% endif %}">
                <span class="site-nav__mobile-icon icon-star-sharp"></span>
                Спецпроекты
            </a>
        </li>
    {% endwith %}
</ul>