<ul class="site-nav">
    {% with url_name=request.resolver_match.url_name %}
        <li class="site-nav__item"><a href="{% url "news-list" %}" class="site-nav__link {% if url_name == 'news-list' or url_name == 'news-detail' %}active{% endif %}">Новости</a></li>
        <li class="site-nav__item"><a href="{% url "events-index" %}" class="site-nav__link {% if url_name == 'events-index' or url_name == 'events-list-future' or url_name == 'events-list-past' or url_name == 'events-detail' %}active{% endif %}">События</a></li>
        <li class="site-nav__item"><a href="{% url "history-list" %}" class="site-nav__link {% if url_name == 'history-list' or url_name == 'history-detail' %}active{% endif %}">История</a></li>
        <li class="site-nav__item"><a href="{% url "places-list" %}" class="site-nav__link {% if url_name == 'places-list' or url_name == 'places-detail' %}active{% endif %}">Места</a></li>
        <li class="site-nav__item"><a href="{% url "persons-list" %}" class="site-nav__link {% if url_name == 'persons-list' or url_name == 'persons-detail' %}active{% endif %}">Люди</a></li>
        <li class="site-nav__item"><a href="{% url "specials-list" %}" class="site-nav__link {% if url_name == 'specials-list' or url_name == 'specials-detail' %}active{% endif %}">Спецпроекты</a></li>
    {% endwith %}
</ul>