.DS_Store
npm-debug.log

/node_modules/
/cp/node_modules/
/frontend/node_modules/
/frontend/email/node_modules/
/frontend/static/
/static/maintenance_mode.html
/webpack/statistics.html
/uploads/
/venv/
/core/
/cp/frontend/
/cp_vue/
/cp_docs/
/formatter/
/media/
/fab/
/backups/
/.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.pyc
*.python-version
*.pkl
*.sql.gz

.vscode
