{% load static static_version %}

<ul class="aside-nav__list">
    <li class="aside-nav__item">
        <a href="{% url "events-list-future" %}" class="aside-nav__link {% if request.resolver_match.url_name == "events-list-future" %}active{% endif %}">
            <span class="aside-nav__icon icon-megafon-fill"></span>
            <span class="aside-nav__text">Анонсы ближайших событий</span>
        </a>
    </li>
    <li class="aside-nav__item">
        <a href="{% url "events-list-past" %}" class="aside-nav__link {% if request.resolver_match.url_name == "events-list-past" %}active{% endif %}">
            <span class="aside-nav__icon icon-calendar-fill"></span>
            <span class="aside-nav__text">Прошедшие события</span>
        </a>
    </li>
    <li class="aside-nav__item">
        <a href="{% url "reports-list" %}" class="aside-nav__link {% if request.resolver_match.url_name == "reports-list" %}active{% endif %}">
            <span class="aside-nav__icon icon-reportage-fill"></span>
            <span class="aside-nav__text">Все репортажи</span>
        </a>
    </li>
</ul>