{% load media_filters %}
{% load static static_version %}
{% load pytils_dt %}
{% load site_tags %}

<div class="grid-publication {% if item.cover_format == "full" %}grid-publication_format-full grid-publication_cover-format-full{% else %}grid-publication_format-base grid-publication_cover-format-base{% endif %} {{ css_class }}">

    <a href="{{ item.get_absolute_url }}" class="grid-publication__cover-wrap">
        <div class="grid-publication__bg-gradient"></div>
        <img src="{{ item.cover|get_thumbnail_url_by_name:cover_name  }}" alt="" class="grid-publication__cover">
    </a>

    <div class="grid-publication__text-wrap">
        <h2 class="grid-publication__title">
            <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
        </h2>

        <p class="grid-publication__text grid-publication__description">{{ item.descriptor }}</p>

        <div class="grid-publication__wobbler">
            {% include "site/modules/wobbler.html" %}
        </div>

    </div>
</div>
