{% load media_filters %}
{% load static static_version %}
{% load pytils_dt %}
{% load site_tags %}

<div class="grid-publication {{ css_class }}">

    <a href="{{ item.get_absolute_url }}" class="grid-publication__cover-wrap">
        <div class="grid-publication__bg-gradient"></div>
        <img src="{{ item.cover|get_thumbnail_url_by_name:cover_name }}" alt="" class="grid-publication__cover">
    </a>

    <div class="grid-publication__text-wrap">
        <h2 class="grid-publication__title">
            <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
        </h2>

        <div class="grid-publication__text">{{ item.place }}</div>

        <div class="grid-publication__text grid-publication__date">{{ item.event_date_text }}</div>

        <div class="grid-publication__wobbler">

            {% with model_name=item|get_model_name %}
                {% if model_name == "report" %}
                    <div class="wobbler">
                        <span class="wobbler__icon icon-reportage"></span>
                        <div class="wobbler__text">Репортаж</div>
                    </div>
                {% elif model_name == "event" %}
                    {% if item.is_past %}
                        <div class="wobbler">
                            <span class="wobbler__icon icon-calendar"></span>
                            <div class="wobbler__text">Состоялось</div>
                        </div>
                    {% else %}
                        <div class="wobbler">
                            <span class="wobbler__icon icon-megafon-stroke"></span>
                            <div class="wobbler__text">Анонс</div>
                        </div>
                    {% endif %}
                {% endif %}

                {% if model_name == "event" and item.report %}
                    <a href="{% url "reports-detail" item.report.id %}" class="grid-publication__link">
                        <span class="text">Репортаж</span>
                        <span class="icon icon-arrow-right-dir"></span>
                    </a>
                {% endif %}

                {% if model_name == "report" and item.event %}
                    <a href="{% url "events-detail" item.event.id %}" class="grid-publication__link">
                        <span class="text">Событие</span>
                        <span class="icon icon-arrow-right-dir"></span>
                    </a>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
