<div class="offer-widget offer-widget_{{ css_class }}">
    {% if css_class == "event" %}
        <span class="offer-widget__icon icon-megafon-stroke-lines" aria-hidden="true"></span>
    {% endif %}
    {% if css_class == "history" %}
        <span class="offer-widget__icon icon-history" aria-hidden="true"></span>
    {% endif %}
    {% if css_class == "people" %}
        <span class="offer-widget__icon icon-people" aria-hidden="true"></span>
    {% endif %}
    {% if css_class == "place" %}
        <span class="offer-widget__icon icon-geo-fill" aria-hidden="true"></span>
    {% endif %}
    {% if css_class == "news" %}
        <span class="offer-widget__icon icon-news-fill" aria-hidden="true"></span>
    {% endif %}

    <p class="offer-widget__text">{{ offer_text }}</p>
    <button class="btn btn_blue offer-widget__btn show-pop-up" data-pop-up="share-{{ css_class }}">{{ btn_text }}</button>
</div>