{% load media_filters %}
{% load static static_version %}

<a href="{% url "specials-detail" item.codename %}" class="special-project">
    <div class="special-project__cover-wrap">
        <img src="" data-src="{{ item.cover|get_thumbnail_url_by_name:cover_name|default:"specials_feed" }}" alt="" class="special-project__cover lazyload">
    </div>

    <div class="special-project__text-wrap">
        <h2 class="special-project__title">{{ item.title }}</h2>

        <p class="special-project__text">{{ item.descriptor }}</p>

        <div class="wobbler">
            <span class="wobbler__icon icon-star-sharp"></span>
            <div class="wobbler__text">Спецпроект</div>
        </div>
    </div>
</a>