@@if (wobbler === "special-project") {
    <img src="images/svg/wobbler-special-projects.svg" alt="Спецпроекты" class="wobbler">
}

@@if (wobbler === "reportage") {
    <img src="images/svg/wobbler-reportage.svg" alt="Репортаж" class="wobbler">
}

@@if (wobbler === "news") {
    <img src="images/svg/wobbler-news.svg" alt="Новости" class="wobbler">
}

@@if (wobbler === "history") {
    <img src="images/svg/wobbler-history.svg" alt="История" class="wobbler">
}

@@if (wobbler === "people") {
    <img src="images/svg/wobbler-people.svg" alt="Люди" class="wobbler">
}

@@if (wobbler === "place") {
    <img src="images/svg/wobbler-place.svg" alt="Место" class="wobbler">
}

@@if (wobbler === "announcement") {
    <img src="images/svg/wobbler-announcement.svg" alt="Анонс" class="wobbler">
}

@@if (wobbler === "past-event") {
    <img src="images/svg/wobbler-past-event.svg" alt="Анонс" class="wobbler">
}

@@if (wobbler === "first-builders") {
    <img src="images/svg/wobbler-history-first-builders.svg" alt="Анонс" class="wobbler">
}

@@if (wobbler === "legends") {
    <img src="images/svg/wobbler-history-legends.svg" alt="Анонс" class="wobbler">
}


