{% load site_tags %}

{% with model_name=item|get_model_name %}
    {% if model_name == "news" %}
        <div class="wobbler">
            <span class="wobbler__icon icon-news-stroke"></span>
            <div class="wobbler__text">Новости</div>
        </div>
    {% endif %}

    {% if model_name == "history" %}
        <div class="wobbler">
            <span class="wobbler__icon icon-history"></span>
            <div class="wobbler__text">{{ item.rubric.name }}</div>
        </div>
    {% endif %}

    {% if model_name == "person" %}
        <div class="wobbler">
            <span class="wobbler__icon icon-people"></span>
            <div class="wobbler__text">Люди</div>
        </div>
    {% endif %}

    {% if model_name == "place" %}
        <div class="wobbler">
            <span class="wobbler__icon icon-geo-stroke"></span>
            <div class="wobbler__text">Место</div>
        </div>
    {% endif %}

    {% if model_name == "cityguide" %}
        <div class="wobbler">
            <span class="wobbler__icon icon-geo-stroke"></span>
            <div class="wobbler__text">Гид по городу</div>
        </div>
    {% endif %}

    {% if model_name == "special" %}
        <div class="wobbler">
            <span class="wobbler__icon icon-star-sharp"></span>
            <span class="wobbler__text">Спецпроект</span>
        </div>
    {% endif %}
{% endwith %}
