{% load static static_version %}



{% if wobler_type == "news" %}
    <img src="{% static "site/images/svg/wobbler-news.svg" %}{% static_version %}" alt="Новости" class="wobbler">
{% endif %}

{% if wobler_type == "people" %}
    <img src="{% static "site/images/svg/wobbler-people.svg" %}{% static_version %}" alt="Люди" class="wobbler">
{% endif %}

{% if wobler_type == "place" %}
    <img src="{% static "site/images/svg/wobbler-place.svg" %}{% static_version %}" alt="Место" class="wobbler">
{% endif %}

{% if wobler_type == "first-_builders" %}
    <img src="{% static "site/images/svg/wobbler-history-first-builders.svg" %}{% static_version %}" alt="Анонс" class="wobbler">
{% endif %}

{% if wobler_type == "legends" %}
    <img src="{% static "site/images/svg/wobbler-history-legends.svg" %}{% static_version %}" alt="Анонс" class="wobbler">
{% endif %}


