// Из-за костылей в sass-loader (А в нём из-за основного вебпак модуля). Приходится указывать все пути относительно entry.sass (он импортируется в main.js, главного файла vue и всей сборки)

@font-face
	font-family: 'ProximaNova'
	src: url('../../../../v-settings/src/fonts/ProximaNova-Regular.woff2') format('woff2')
	font-weight: normal
	font-style: normal


@font-face
	font-family: 'ProximaNova'
	src: url('../../../../v-settings/src/fonts/ProximaNova-Bold.woff2') format('woff2')
	font-weight: bold
	font-style: normal