.auth_logo
    width: 300px
    height: auto
    border-bottom: 1px solid #F2F2F2

    & img
        width: 250px
        height: 50px
        margin-bottom: 40px

.logo-img
    width: calc(100% - 50px)