
{% if content %}
    <div class="post-editor-content">
        {% for section in content %}
            <div class="post-editor__section post-editor__section_{{ section.classSuffix }}">
                <div class="indent-wrap indent-wrap_mt2 indent-wrap_mb2 indent-wrap_pt2 indent-wrap_pb2">
                    {% for column in section.columns %}
                        <div class="post-editor-column">
                            {% for widget in column.widgets %}
                                {% if widget %}
                                    {% with template_name=widget.type|add:".html" %}
                                        {% include "posteditor/widgets/"|add:template_name %}
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}