{% load posteditor_tags %}
{% load media_filters %}

<div class="post-editor__block_direct-speech {{ element.element_content_format.id }}">
    <img src="{{ images|get_item:element.element_content_photo.id|get_thumbnail_url_by_name:"posteditor_direct_photo" }}" alt="" class="direct-speech__avatar">
    <div class="direct-speech__text-wrap">
        <div class="direct-speech__author">{{ element.element_content_name }}</div>
        <div class="direct-speech__author-description">{{ element.element_content_description }}</div>
        <div class="direct-speech__text wysiwyg-container">{{ element.element_content|safe }}</div>
    </div>
</div>