{% load posteditor_tags %}
<div class="post-editor__block_slider">
    <div class="indent-wrap {% if widget.marginTop %}indent-wrap_mt{{ widget.marginTop }}{% endif %} {% if widget.marginBottom %}indent-wrap_mb{{ widget.marginBottom }}{% endif %} {% if widget.paddingTop %}indent-wrap_pt{{ widget.paddingTop }}{% endif %} {% if widget.paddingBottom %}indent-wrap_pb{{ widget.paddingBottom }}{% endif %}">
        {% if widget.slides %}
            {% get_posteditor_slider widget.slides.id %}
        {% endif %}
    </div>
</div>