// colors
$primary-blue: #2C3240
$primary-blue-dark: #0067c3
$primary-blue-darker: #005BAB

$primary-yellow: #FCE420
$primary-yellow-dark: #fad328
$primary-yellow-darker: #ffc106

$primary-yellow-light: #FFF038
$additional-yellow: #e4d72b

$light-c: #FFFFFF
$dark-c: #000000

$success-c: #43A047
$success-bg: #FBFCF9
$error-c: #E20101
$error-bg: #FFEBEE
$error-hint-text: #d3302e

$accent-red: #ED1C24
$accent-orange: #E28E01
$accent-green: #57A700

$promo-cashback-dark: #d3302e
$promo-cashback-light: #ffcdd2

$cashback-dark: #43A047

$hit-dark: #6a1b9a
$hit-light: #e1bee7

$discount-dark: #f57f18
$discount-light: #ffe0b3

$new-dark: #558c2f
$new-light: #dcedc8

$primary-light-c: #FAFAFA
$light-gray: #DFDFDF
$dark-gray: #BEBEBE
$base-gray: #7A7A7A
$primary-dark-c: #212121

$border-gray: #EEEEEE

$blue: #DDEFFF
$blue-light: #F5FAFF
$blue-dark: #89B7E0

// fonts
$base-f: "Proxima Nova Regular'", Arial, Helvetica, sans-serif
$bold-f: "Proxima Nova Bold", Arial, Helvetica, sans-serif
$icon-f: "proamursk"

// font-size
$micro-fz: 11px
$small-fz: 15px
$mini-fz: 16px
$base-fz: 18px
$medium-fz: 22px
$big-fz: 24px
$bigger-fz: 30px
$huge-fz: 36px

$h6-fz: 14px
$h5-fz: 18px
$h4-fz: 20px
$h3-fz: 24px
$h2-fz: 30px
$h1-fz: 36px

// line-height
$micro-lh: 1
$mini-lh: 1.3
$base-lh: 1.5
$big-lh: 2

// shadow
$layer-1: 0 2px 4px 0 rgba(0, 0, 0, .07)
$layer-1-hover: 0 4px 8px 0 rgba(0, 0, 0, .1)

$layer-2: 0 2px 6px 0 rgba(0,0,0,0.18)
$layer-2-hover: 0 4px 10px 0 rgba(0,0,0,0.18)

$layer-3: 0 4px 10px 0 rgba(0,0,0,0.18)
$layer-3-hover: 0 6px 14px 0 rgba(0,0,0,0.18)

$layer-4: 0 0px 20px 0 rgba(0, 0, 0, 0.18)

$modal-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.24)

$preloader-time: 1s

$L-main-grid-gutter: 0.935% // 800/856
$L-12-grid-gutter: 2.027% //1200/592