<ul class="site-nav">
    <li class="site-nav__item"><a href="news-list.html" class="site-nav__link @@if (active === 'news') {active}">Новости</a></li>
    <li class="site-nav__item"><a href="all-events.html" class="site-nav__link @@if (active === 'event') {active}">События</a></li>
    <li class="site-nav__item"><a href="all-history.html" class="site-nav__link @@if (active === 'history') {active}">История</a></li>
    <li class="site-nav__item"><a href="all-places.html" class="site-nav__link @@if (active === 'place') {active}">Места</a></li>
    <li class="site-nav__item"><a href="all-people.html" class="site-nav__link @@if (active === 'people') {active}">Люди</a></li>
    <li class="site-nav__item"><a href="all-special-projects.html" class="site-nav__link @@if (active === 'special-projects') {active}">Спецпроекты</a></li>
</ul>