{% load admin_static %}
{% load static_version %}

<!DOCTYPE html>
<html lang="ru" data-allow-sap="1">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <title>Фотостог 2.0</title>
    <!--<link href="{% static "cp_vue/images/favicon.svg" %}{% static_version %}" color="#007eef" rel="mask-icon" />-->
    <!--<link href="{% static "cp_vue/images/favicon.ico" %}{% static_version %}" rel="shortcut icon" />-->
    <!--<link href="{% static "cp_vue/images/57.png" %}{% static_version %}" rel="apple-touch-icon" />-->
    <!--<link href="{% static "cp_vue/images/76.png" %}{% static_version %}" rel="apple-touch-icon" sizes="76x76" />-->
    <!--<link href="{% static "cp_vue/images/120.png" %}{% static_version %}" rel="apple-touch-icon" sizes="120x120" />-->
    <!--<link href="{% static "cp_vue/images/152.png" %}{% static_version %}" rel="apple-touch-icon" sizes="152x152" />-->
    <!--<link href="{% static "cp_vue/images/180.png" %}{% static_version %}" rel="apple-touch-icon" sizes="180x180" />-->
    <!--<link href="{% static "cp_vue/images/128.png" %}{% static_version %}" rel="icon" sizes="128x128" />-->
    <!--<link href="{% static "cp_vue/images/192.png" %}{% static_version %}" rel="icon" sizes="192x192" />-->
    <!--<meta name="yandex-tableau-widget" content="{% static "cp_vue/images/tableua-logo.png" %}{% static_version %}, color=#007eef"/>-->
    <link rel="stylesheet" href="{% static "cp_vue/css/formatter/demo.css" %}{% static_version %}">
    <link rel="stylesheet" href="{% static "cp_vue/css/styles.css" %}{% static_version %}">
    <link rel="stylesheet" href="{% static "cp_vue/css/formatter/formatter_content.css" %}{% static_version %}">
  </head>
  <body class="main-body">
    <div id="app"></div>
  <script src="{% static "cp_vue/js/formatter.js" %}{% static_version %}"></script>
  <script src="{% static "cp_vue/build.js" %}{% static_version %}"></script>
  </body>
</html>
