.sp-children
    margin-bottom: -40px

.sp img
    display: block

.sp-children__photo
    border-radius: 4px

.sp-children__icon_kindergarden
    height: 80px

.sp-children__icon_children-in-kindergarden
    height: 67px
    margin-top: 13px

.sp-children__icon_rocking-horse,
.sp-children__icon_constructror
    height: 57px

.sp-children__icon_globe
    height: 70px

.sp-children__icon_boy-cubes
    width: 290px
    height: 200px
    margin-top: 37px

.sp-children__icon_fitball
    width: 215px
    height: 270px
    margin-top: 25px

.sp-children__icon_uprobrz,
.sp-children__icon_mfc,
.sp-children__icon_gosuslugi
    height: 85px

.sp-children__icon_slider-wait
    width: 250px

.sp-children__icon_slider-body-check
    width: 185px

.sp-children__icon_school,
.sp-children__icon_schoolchild,
.sp-children__icon_medal
    height: 75px

.sp-children__icon_techworker
    width: 320px

.sp-children__icon_science
    width: 195px

.sp-children__icon_nerd
    width: 240px
    position: relative
    top: -20px

.sp-children__icon_winner
    width: 215px
    margin-top: 25px
    margin-left: 55px

.sp-children__icon_documents
    width: 245px
    position: absolute
    right: 160px
    top: 200px

.sp-children__icon_wait-call
    width: 320px
    position: absolute
    top: 210px
    right: 140px

.sp-children__icon_litercy,
.sp-children__icon_arithmetic,
.sp-children__icon_world
    width: 105px

.sp-children__icon_80percent,
.sp-children__icon_sections
    height: 80px

.sp-children__gto-medal
    width: 78px
    height: 80px

.sp-children-gto-wrap

    .sp-fact_center
        &:first-child
            margin-left: 0

        &:last-child
            margin-right: 0

.sp-children-gto-text
    margin-left: 20px

.sp-block
    &_mt30
        margin-top: 30px

    &_mt40
        margin-top: 40px

    &_mt60
        margin-top: 60px

    &_mt80
        margin-top: 80px

    &_mt100
        margin-top: 100px

    p
        margin-bottom: 20px

        &:last-child
            margin-bottom: 0

.sp-light-section
    padding: 40px 0 80px
    background-color: #fbfcfd
    border: 1px solid #d7dbe0

    &__title
        margin-bottom: 40px
        font-family: $bold-f
        font-size: 24px
        letter-spacing: 0.02em
        line-height: 24px
        text-align: center

.sp-6col
    width: 640px
    margin-left: auto
    margin-right: auto

.sp-6col_3-3
    display: flex
    align-items: flex-start

    .sp-3col
        width: 310px
        flex-shrink: 0
        flex-grow: 0

        & + .sp-3col
            margin-left: 20px

.sp-6col_4-2
    display: flex
    align-items: flex-start

    & > :first-child
        margin-right: 20px

    .sp-4col
        width: 420px
        flex-shrink: 0

    .sp-2col
        width: 200px
        position: relative

.sp-12col_4-4-4
    display: flex
    align-items: flex-start

    & :nth-child(2)
        margin-left: 20px
        margin-right: 20px

    img
        width: 420px

.sp-full_4-4-4
    display: flex
    align-items: flex-start
    justify-content: center

    &__item
        flex-shrink: 0

        &:nth-child(1)
            figcaption
                width: 280px
                margin-left: auto

        &:nth-child(2)
            margin-left: 20px
            margin-right: 20px

            figcaption
                width: 480px

        &:nth-child(3)
            figcaption
                width: 280px

    figcaption
        margin-top: 20px
        font-size: 15px
        line-height: 20px
        letter-spacing: 0.08em
        color: #283348

    img
        height: 460px

.sp-3col__text
    padding-right: 40px

.sp-8col
    width: 860px
    margin-left: auto
    margin-right: auto

.sp-flex-container
    display: flex
    align-items: flex-start
    justify-content: space-between

.sp-grid__item_third
    width: calc((100% - 90px) / 3)

.sp-round-number
    width: 48px
    height: 48px
    margin-bottom: 15px
    font-size: $huge-fz
    line-height: 48px
    color: $base-c
    text-align: center
    border: 2px solid $base-c
    border-radius: 50%

.sp-base-subtitle
    margin-bottom: 60px
    font-family: $bold-f
    font-size: 24px
    letter-spacing: 0.03em
    line-height: $base-lh
    text-align: center

.sp-dropdown-section
    width: 1080px
    margin-left: auto
    margin-right: auto
    padding: 50px 155px
    background: $light-c
    border: 1px solid #d2d7dd
    border-radius: 4px

    &__pretext

.sp-full_2-2
    display: flex
    align-items: flex-start
    justify-content: space-between

    & > *
        width: calc(50% - 20px)

.sp-title
    margin-bottom: 20px
    font-size: 24px
    font-family: $bold-f

.sp-separator_line
    height: 1px
    background-color: #D7DBE0

.sp-separator_sign
    display: flex
    align-items: center
    color: #7A8BA1

    &::before,
    &::after
        content: ""
        height: 2px
        flex-grow: 1
        background-color: $border-c

    &::before
        margin-right: 3px

    &::after
        margin-left: 3px

.sp-direct-speech
    width: 800px
    margin-left: -160px

.sp-fact-wrap
    display: flex
    align-items: flex-start
    justify-content: center

.sp-grid
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    margin-right: -60px
    margin-bottom: -20px

    .sp-grid__item_half
        width: calc(50% - 60px)
        flex-basis: 380px
        flex-shrink: 0
        margin-right: 60px
        margin-bottom: 20px

.sp-fact
    flex-basis: 200px
    flex-grow: 0

    &_center
        margin: 0 10px
        text-align: center

        .sp-fact__icon
            margin-left: auto
            margin-right: auto

    &_in-column
        .sp-fact__icon
            margin-bottom: 20px

        &:not(:last-child)
            margin-bottom: 40px

    &__icon
        margin-bottom: 10px

        img
            margin-left: auto
            margin-right: auto

        &_big
            width: 90px
            height: 90px
            line-height: 90px

        &_small
            width: 56px
            height: 56px
            line-height: 52px
            font-size: 50px

        &_error
            color: #FF1800
            text-align: center
            border: 4px solid #FF1800

    &__number
        font-family: $bold-f
        font-size: 42px
        line-height: $micro-lh
        color: $base-c

    &__title
        line-height: $mini-lh

        &_italic
            font-size: 21px
            font-family: $add-sb-it-f

        &_bold
            font-size: $base-fz
            font-family: $bold-f

    &__subtext
        margin-left: auto
        margin-right: auto
        font-size: 15px
        letter-spacing: 0.08em
        line-height: 20px
        color: $base-dark-c

        &_limited
            width: 150px

        &_mt10
            margin-top: 10px

    &__text
        font-size: $base-fz
        line-height: $base-lh

    a
        color: $base-c
        text-decoration: none

        span
            position: relative
            margin-left: 5px
            font-size: 10px
            left: 0
            transition: left .2s

        &:hover
            span
                left: 5px

.sp-children__overflow-small-img
    width: 420px
    max-width: initial

    &_left
        margin-left: -110px

.sp-children__overflow-big-img
    width: 640px
    max-width: initial

.sp-children-header
    position: relative
    margin-bottom: 90px

    &__container
        display: flex
        flex-direction: column
        align-items: center
        text-align: center

    &__img
        margin-bottom: 40px

    &__pattern
        position: absolute

        &_left
            width: 550px
            left: -295px
            top: 150px

        &_right
            width: 570px
            right: -270px
            top: 200px

.sp-children
    padding-top: 0
    overflow: hidden

    &__title
        margin-bottom: 10px
        font-size: 76px
        line-height: $mini-lh
        font-family: $bold-f

    &__subtitle
        margin-bottom: 45px
        width: 420px
        font-size: $big-fz
        line-height: $mini-lh
        font-family: $base-f
        font-weight: normal

    &__description
        width: 550px
        margin-bottom: 0
        font-size: $base-fz
        line-height: $base-lh
        text-align: left

    &__wobbler
        margin-bottom: 30px

    &__arrow-down
        width: 55px
        height: 55px
        margin-bottom: 90px

.sp-children-section
    &__cover-wrap
        position: relative
        height: 550px
        display: flex
        justify-content: center
        margin-left: -40px
        margin-right: -40px
        margin-bottom: 80px
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        border-radius: 0 0 50% 50% / 0 0 60px 60px
        overflow: hidden

        &::after
            content: ""
            position: absolute
            top: 0
            left: 0
            z-index: 1
            width: 100%
            height: 100%
            background: linear-gradient(rgba(0, 51, 104, 0) 0%, rgba(23, 33, 54, 0.5) 100%)

    &__title-wrap
        position: relative
        z-index: 2
        margin-top: 340px
        text-align: center

    &__title
        font-size: 76px
        line-height: $micro-lh
        font-family: $bold-f
        color: $light-c

    &__subtitle
        margin-top: 20px
        font-size: 36px
        font-family: $bold-f
        letter-spacing: 0.02em
        text-transform: uppercase
        text-align: center

    &__description
        margin-bottom: 60px
        font-size: 22px
        font-family: $add-sb-it-f
        text-align: center

.icon-title-wrap

.icon-title
    &__icon
        width: 105px
        margin: 0 auto 20px

    &__text
        margin-left: auto
        margin-right: auto
        font-family: $bold-f
        font-size: 18px
        letter-spacing: 0.02em
        line-height: 24px
        text-align: center
        color: $dark-c

        &_1line
            max-width: 400px

        &_2line
            max-width: 280px

.icon-separator
    display: flex
    align-items: center

    &::before,
    &::after
        content: ""
        display: block
        height: 2px
        flex-grow: 1
        background-color: $base-c

    &::before
        margin-right: 15px

    &::after
        margin-left: 15px

    &__icon
        height: 65px

.sp-slider-timeline
    display: flex
    align-items: flex-start
    justify-content: space-between
    position: relative

    &::after
        content: ""
        display: block
        height: 1px
        position: absolute
        top: 15px
        left: 110px
        right: 116px
        z-index: 1
        background-color: #C3CEDF

.sp-slider-note
    width: 1080px
    margin: 20px auto 0
    font-size: 15px
    letter-spacing: 0.08em
    color: #283348

    a
        text-decoration: none
        color: $base-c

        &:hover
            text-decoration: underline

.sp-children-section_1__slider-timeline
    width: 860px
    margin: 0 auto

.sp-children-section_2__slider-timeline
    width: 610px
    margin: 0 auto

.timeline-step
    position: relative
    z-index: 2
    text-align: center

    &:first-child
        .timeline-step__number-wrap
            width: calc((100% - 27px) / 2 + 27px + 20px)
            padding-left: calc((100% - 27px) / 2)
            margin-left: 0

    &:last-child
        .timeline-step__number-wrap
            width: calc((100% - 27px) / 2 + 27px + 20px)
            padding-right: calc((100% - 27px) / 2)
            margin-right: 0

    &__number-wrap
        width: 67px
        height: 27px
        margin: 0 auto 10px
        padding: 0 20px
        background-color: #fbfcfd

    &__number
        display: block
        width: 27px
        height: 27px
        font-size: $base-fz
        line-height: 24px
        color: #C3CEDF
        text-align: center
        border: 1px solid #C3CEDF
        border-radius: 50%

    &__title
        font-size: 15px
        letter-spacing: 0.08em

    &.active
        .timeline-step__number
            font-family: $bold-f
            color: $light-c
            border-color: $base-c
            background-color: $base-c

        .timeline-step__title
            color: $base-c

.sp-step-slider
    width: 1080px
    height: 640px
    margin-left: auto
    margin-right: auto
    background: $light-c
    border: 1px solid #d2d7dd
    border-radius: 4px

    .slider-arrow
        display: block
        width: 48px
        height: 48px
        border-radius: 50%
        position: absolute
        top: 50%
        transform: translateY(-50%)
        z-index: 2
        font-size: 25px
        line-height: 50px
        color: $base-c
        background-color: #EFF3F9

        &-prev
            left: 20px
            padding-right: 2px

        &-next
            right: 20px
            padding-left: 5px

    .slider-circles-container
        bottom: 40px

    .slider-circle-item
        background-color: $light-c
        border: 1px solid $base-c

        &.active,
        &:hover
            background-color: $base-c

    &__step-number
        display: block
        width: 48px
        height: 48px
        margin: 0 auto 10px
        font-size: 28px
        line-height: 48px
        font-family: $bold-f
        color: $light-c
        text-align: center
        background-color: $base-c
        border-radius: 50%

    &__step-title
        margin-bottom: 20px
        font-family: $bold-f
        font-size: 24px
        letter-spacing: 0.03em
        line-height: $base-lh
        text-align: center

    &__text
        width: 640px
        margin-left: auto
        margin-right: auto

    &__fact-wrap

        .sp-fact
            width: 200px
            margin-left: 50px
            margin-right: 50px

.sp-step-slider-1__slide-1
    padding-top: 50px
    text-align: center

.sp-step-slider-1__slide-2
    padding: 160px 120px 70px

.sp-step-slider-1__slide-3
    padding: 110px 120px

.sp-step-slider-1__slide-4
    padding: 110px 195px

.sp-step-slider-1__slide-5,
.sp-step-slider-1__slide-6
    padding-top: 50px

.sp-step-slider-1__slide-5
    .sp-step-slider-1__content
        display: flex
        align-items: flex-end
        justify-content: center
        margin-top: 60px

    .sp-step-slider-1__text
        width: 260px
        margin-right: 75px
        margin-bottom: 0
        font-size: $mini-fz

.sp-step-slider-1__slide-6
    .sp-step-slider-1__content
        display: flex
        align-items: flex-end
        justify-content: center
        margin-top: 60px

    .sp-step-slider-1__text
        width: 360px
        margin-right: 75px
        margin-bottom: 0
        font-size: $mini-fz

.sp-step-slider-1__slide-7
    padding: 50px 110px

    .sp-step-slider-1__subtitle
        margin-bottom: 20px
        font-family: $bold-f
        text-align: center

.sp-bullet-list-wrap
    &:not(:last-child)
        margin-bottom: 60px

.sp-bullet-list
    margin: 0
    padding: 0 0 0 18px

    &__title
        font-family: $bold-f
        font-size: 18px
        letter-spacing: 0.02em
        line-height: 24px
        text-align: center
        text-transform: uppercase
        color: $dark-c

    &__item
        &:not(:last-child)
            margin-bottom: 20px

.sp-bullet-item
    position: relative

    &::before
        content: ""
        width: 8px
        height: 8px
        position: absolute
        left: -18px
        top: 8px
        background-color: $base-c
        border-radius: 50%

.sp-icon-list
    padding: 0
    margin: 40px 0 0 0

.sp-icon-list__item
    display: flex
    align-items: flex-start

    &:not(:last-child)
        margin-bottom: 20px

.sp-icon-item
    &__icon
        flex-shrink: 0
        margin-right: 30px

    &__text

.sp-info-note
    display: flex
    align-items: flex-start

    &__sign
        flex-shrink: 0
        color: #FF1800
        text-align: center
        border-radius: 50%

    &__text
        line-height: $base-lh
        text-align: left

    &_small
        width: 640px
        margin-top: 40px
        margin-left: 18px

        .sp-info-note
            &__sign
                width: 23px
                height: 23px
                margin-right: 15px
                font-size: 17px
                line-height: 22px
                border: 1px solid #FF1800

            &__text
                font-size: 12px
                color: #283348

    &_big

        .sp-info-note
            &__sign
                width: 43px
                height: 43px
                margin-right: 20px
                font-size: 34px
                line-height: 40px
                border: 2px solid #FF1800

            &__text
                font-size: $base-fz
                color: $dark-c

    &_middle

        .sp-info-note
            &__text
                width: 660px
                font-size: 15px
                color: #283348

.sp-map-wrap
    position: relative
    height: 640px

.sp-map
    height: 640px

.sp-map-points

    &-outer
        position: absolute
        top: 80px
        left: 110px
        z-index: 3
        width: 420px
        height: 480px
        border-radius: 4px
        background-color: $light-c
        border: 1px solid #d2d7dd

        &_all-scroll
            &::before
                content: ""
                position: absolute
                top: 30px
                left: 0
                z-index: 2
                width: 100%
                height: 30px
                background: linear-gradient(#fff 0%, rgba(255, 255, 255, 0) 100%)

            &::after
                content: ""
                position: absolute
                bottom: 30px
                left: 0
                z-index: 2
                width: 100%
                height: 30px
                background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%)

    &-inner
        margin: 30px 0
        padding: 0 30px
        height: calc(100% - 60px)

        &_all-scroll
            overflow: scroll
            padding: 30px 30px 0

    &__list-item

        &_single
            display: flex
            flex-direction: column
            height: 100%

        &:not(:last-child)
            margin-bottom: 30px
            border-bottom: 1px solid #D7DBE0

    &__title
        margin-bottom: 20px
        font-size: 28px
        line-height: 1.2
        font-family: $bold-f
        letter-spacing: 0.02em

        &_icon
            position: relative
            display: flex
            align-items: center
            margin-bottom: 0
            font-size: 21px

            &::before
                content: ""
                position: relative
                z-index: 2
                display: block
                width: 36px
                height: 36px
                margin-right: 15px
                border-radius: 50%
                background-position: center
                background-repeat: no-repeat
                background-color: $base-c

            &-sport::before
                background-image: url(../images/special-projects/children/svg/sport-white.svg)
                background-size: 24px

            &-art::before
                background-image: url(../images/special-projects/children/svg/art-white.svg)
                background-size: 20px

            &-languages::before
                background-image: url(../images/special-projects/children/svg/languages-white.svg)
                background-size: 24px

            &-compass::before
                background-image: url(../images/special-projects/children/svg/compass-white.svg)
                background-size: 24px

    &__list-wrap
        position: relative
        flex-grow: 0

        &_1line-title
            height: 360px

        &_2line-title
            height: 330px

        &_gradient

            &::before
                content: ""
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 25px
                background: linear-gradient(#fff 0%, rgba(255, 255, 255, 0) 100%)

            &::after
                content: ""
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                height: 25px
                background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%)

    &__list
        margin: 0
        padding: 0
        overflow: scroll
        height: 100%

        &_offset
            .sp-map-points__item
                padding-left: 31px
                padding-right: 25px

    &__item
        padding-top: 5px
        padding-bottom: 5px
        font-size: 16px
        line-height: $base-lh
        letter-spacing: 0.02em


        &:first-child
            padding-top: 15px

        &:last-child
            padding-bottom: 15px

        &:not(:last-child)
            border-bottom: 1px solid #D7DBE0

    &__item-btn
        padding: 8px 20px
        border-radius: 20px
        text-align: left

        &:hover,
        &.active
            background: #eff2f5

.sp-children-section_1
    .sp-children-section__title
        width: 640px

.sp-children-section_2__fact-wrap
    display: flex
    align-items: flex-end

    .sp-fact-wrap
        flex-grow: 1
        justify-content: space-between
        margin-left: -10px
        margin-right: -10px

.sp-step-slider-2__slide-1
    padding-top: 50px
    text-align: center

    .sp-info-note
        margin-left: 180px

.sp-step-slider-2__slide-2
    padding: 50px 120px

    .sp-bullet-list
        width: 420px
        margin-left: 30px

    .sp-info-note
        width: 400px
        margin-top: 50px
        margin-left: 30px

.sp-step-slider-2__slide-3
    padding: 50px 120px

    .sp-step-slider-2__content
        width: 460px
        margin-top: 80px

    .sp-info-note
        width: 460px
        margin-top: 50px
        margin-left: 0

.sp-place
    &__title
        margin-bottom: 50px
        font-family: $bold-f
        font-size: 24px
        letter-spacing: 0.02em

    &__subtitle
        font-size: 18px
        line-height: $base-lh
        font-family: $bold-f

    &__decription
        margin-bottom: 50px
        font-size: 18px
        line-height: $base-lh

    &__contacts-table
        font-size: 16px
        font-family: $base-f

        [class^="icon-"]
            display: inline-block
            width: 18px
            height: 20px
            margin-right: 10px
            font-size: 0
            line-height: 20px
            color: $base-c
            vertical-align: -2px
            text-align: center
            [class^="icon-"]::before
            font-size: 17px

        a
            color: $base-c
            text-decoration: none

            &:hover,
            &:focus
                text-decoration: underline

        tr:not(:last-child) td
            padding-bottom: 10px

        td
            padding-top: 0
            padding-left: 0
            padding-right: 0
            vertical-align: baseline

            &:first-child
                width: 125px
                padding-right: 20px

    &__img
        width: 420px

.balloon
    margin: 30px

    &__title
        margin-bottom: 20px
        font-size: 22px
        line-height: 1.3
        font-family: $bold-f