.sp-autoclave-col-10
    +media(d)
        width: 860px
        margin-left: auto
        margin-right: auto

.sp-autoclave-col-7
    +media(d)
        width: 750px

.sp-autoclave-col-6
    +media(d)
        width: 640px

.sp-autoclave-section
    &:nth-of-type(1) .sp-autoclave-section-title::before
        background-image: url(../images/special-projects/autoclave/svg/1-stroke.svg)

        +media(d)
            left: calc(-52px - 40px)
            width: 52px
            height: 74px

        +media(m)
            width: 52px
            height: 48px

    &:nth-of-type(2) .sp-autoclave-section-title::before
        background-image: url(../images/special-projects/autoclave/svg/2-stroke.svg)

        +media(d)
            left: calc(-67px - 40px)
            width: 67px
            height: 74px

        +media(m)
            width: 67px
            height: 48px

    &:nth-of-type(3) .sp-autoclave-section-title::before
        background-image: url(../images/special-projects/autoclave/svg/3-stroke.svg)

        +media(d)
            left: calc(-63px - 40px)
            width: 63px
            height: 74px

        +media(m)
            width: 63px
            height: 48px

    &:nth-of-type(4) .sp-autoclave-section-title::before
        background-image: url(../images/special-projects/autoclave/svg/4-stroke.svg)

        +media(d)
            left: calc(-72px - 40px)
            width: 72px
            height: 74px

        +media(m)
            width: 72px
            height: 48px

    &:nth-of-type(5) .sp-autoclave-section-title::before
        background-image: url(../images/special-projects/autoclave/svg/5-stroke.svg)

        +media(d)
            left: calc(-65px - 40px)
            width: 65px
            height: 74px

        +media(m)
            width: 65px
            height: 48px

    &:nth-of-type(6) .sp-autoclave-section-title::before
        background-image: url(../images/special-projects/autoclave/svg/6-stroke.svg)

        +media(d)
            left: calc(-68px - 40px)
            width: 68px
            height: 74px

        +media(m)
            width: 68px
            height: 48px

.sp-autoclave-section-title
    position: relative
    margin-bottom: 30px
    font-family: $bold-f

    +media(d)
        width: 640px
        font-size: 36px

    +media(m)
        font-size: 24px
        text-align: center

    &::before
        content: ""
        background-repeat: no-repeat
        background-size: contain
        background-position: center bottom

        +media(d)
            position: absolute
            top: 50%
            transform: translateY(-50%)
            display: inline-block
            vertical-align: bottom

        +media(m)
            display: block
            margin-bottom: 15px
            margin-left: auto
            margin-right: auto

.sp-autoclave-h3
    font-family: $bold-f

    +media(d)
        font-size: 24px

    +media(m)
        font-size: 18px

.sp-autoclave-big-text
    +media(d)
        font-size: 26px

    +media(m)
        font-size: 20px

.sp-autoclave-gap_top_small
    margin-top: 30px

.sp-autoclave-gap_bottom_small
    margin-bottom: 30px

.sp-autoclave-gap_top_medium
    +media(d)
        margin-top: 60px

    +media(m)
        margin-top: 40px

.sp-autoclave-gap_bottom_medium
    +media(d)
        margin-bottom: 60px

    +media(m)
        margin-bottom: 40px

.sp-autoclave-gap_top_big
    +media(d)
        margin-top: 100px

    +media(m)
        margin-top: 60px

.sp-autoclave-gap_bottom_big
    +media(d)
        margin-bottom: 100px

    +media(m)
        margin-bottom: 60px

.sp-autoclave-light-bg-section
    padding-top: 60px
    padding-bottom: 60px
    background-color: #FAFBFC

.sp-autoclave-to-top-btn
    position: fixed
    bottom: 48px
    right: 48px
    z-index: 2
    width: 48px
    height: 48px
    padding-right: 2px
    font-size: 20px
    line-height: 44px
    color: $light-c
    background-color: $base-c
    border-radius: 50%
    border: 2px solid $base-c
    transform: rotate(90deg)

    &:hover,
    &:focus
        color: $base-c
        background-color: $light-c

.sp-autoclave-full-img
    width: 100%

.sp-autoclave-
    &header
        position: relative

    &header__title
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 2
        color: $light-c
        line-height: 1
        font-family: $bold-f
        text-transform: uppercase

        +media(d)
            font-size: 124px

        +media(m)
            font-size: 42px
            text-align: center

        span
            display: block

            +media(d)
                margin-top: 15px
                white-space: nowrap
                font-size: 42px

            +media(m)
                margin-top: 8px
                font-size: 20px
                line-height: 1.2

    &header__scroll-icon
        position: absolute
        left: 50%
        bottom: 60px
        transform: translateX(-50%)
        z-index: 2

        +media(m)
            display: none !important

    &header__slider
        position: relative
        overflow: hidden

        +media(m)
            height: 320px

    &header__slide
        +media(d)
            width: 100%

        +media(m)
            position: absolute
            left: 50%
            transform: translateX(-50%)
            height: 100%
            max-width: initial

    &wobbler
        text-align: center

    &ore-section
        position: relative

        &__text
            +media(d)
                width: 640px

        &__img-wrap
            +media(d)
                position: absolute
                top: 0
                right: -100px
                width: 220px

            +media(m)
                margin-top: 60px

        &__img
            margin-bottom: 20px

        &__caption
            line-height: 1.2
            font-family: $bold-f

            +media(d)
                margin-left: 10px
                margin-right: 10px
                font-size: 24px

            +media(m)
                font-size: 20px

    &methods
        margin: 0
        padding: 0
        list-style: none

        +media(d)
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-gap: 20px

    &method
        border: 2px solid $base-c
        box-shadow: 0 16px 16px rgba(0, 115, 255, 0.06)
        border-radius: 8px

        +media(d)
            padding: 40px 30px

        +media(m)
            padding: 20px

            &:not(:last-child)
                margin-bottom: 20px

        &__number
            font-size: 24px
            line-height: $mini-lh
            font-family: $add-sb-it-f
            color: $base-c

            +media(d)
                margin-bottom: 30px

            +media(m)
                height: 48px
                margin-bottom: 20px

        &__title
            font-size: 24px
            font-family: $bold-f

            +media(d)
                margin-bottom: 20px

            +media(m)
                margin-bottom: 10px

                br
                    display: none

        &__text
            +media(m)
                font-size: 14px

    &gold-section
        position: relative

        &__text
            width: 640px

        &__img-wrap
            +media(d)
                position: absolute
                top: 0
                right: -100px
                width: 200px

            +media(m)
                margin-top: 30px

        &__img
            width: 175px
            margin-bottom: 20px

        &__caption
            font-family: $bold-f

        &__percent-text
            display: block
            margin-bottom: 5px
            color: $base-c

            +media(d)
                font-size: 40px
                line-height: 34px

            +media(m)
                font-size: 28px
                line-height: 1

        &__percent-description
            line-height: 1.2

            +media(d)
                font-size: 24px

            +media(m)
                font-size: 18px

    &scheme
        position: relative

        &_with-bg
            background-image: url(../images/special-projects/autoclave/svg/grid-bg.svg)

            +media(d)
                min-height: 1114px
                padding-top: 100px
                padding-bottom: 100px

            +media(m)
                padding-top: 60px
                padding-bottom: 40px

        &__img
            margin-left: auto
            margin-right: auto

        &__element
            position: absolute

            &:hover
                .sp-autoclave-scheme__short-balloon,
                .sp-autoclave-scheme__long-balloon
                    opacity: 1
                    z-index: 1

        &__btn
            width: 35px
            height: 35px
            flex-shrink: 0
            font-size: 26px
            line-height: 36px
            color: $light-c
            background-color: $base-c
            border-radius: 50%

        &__text-btn
            position: relative
            padding: 4px 10px
            font-size: 16px
            line-height: $mini-lh
            color: $light-c
            text-transform: uppercase
            background-color: $base-c
            border: 2px solid $base-c
            border-radius: 4px

        &__short-balloon
            position: absolute
            top: 50%
            transform: translateY(-50%)
            z-index: -1
            padding: 6px 12px
            font-size: 16px
            line-height: $mini-lh
            color: $light-c
            white-space: nowrap
            text-transform: uppercase
            background-color: $base-c
            opacity: 0
            transition: opacity $transition-time

            &_left
                right: calc(100% + 20px)
                border-radius: 4px 0 0 4px

                &::after
                    content: ""
                    display: block
                    position: absolute
                    top: 0
                    right: -14px
                    width: 15px
                    height: 100%
                    background-color: $base-c
                    clip-path: polygon(0% 0%, 25% 0%, 100% 50%, 25% 100%, 0% 100%)

            &_right
                left: calc(100% + 20px)
                border-radius: 0 4px 4px 0

                &::before
                    content: ""
                    display: block
                    position: absolute
                    top: 0
                    left: -14px
                    width: 15px
                    height: 100%
                    background-color: $base-c
                    clip-path: polygon(75% 0%, 100% 0%, 100% 100%, 75% 100%, 0% 50%)

        &__long-balloon
            position: absolute
            top: calc(100% + 30px)
            z-index: -1
            padding: 20px
            font-size: 18px
            line-height: $base-lh
            border: 1px solid $base-c
            border-radius: 4px
            background-color: $light-c
            opacity: 0
            transition: opacity $transition-time

            &::before
                content: ""
                position: absolute
                left: 20px
                top: -11px
                display: block
                width: 21px
                height: 21px
                background-color: $light-c
                border-top: 1px solid $base-c
                border-left: 1px solid $base-c
                transform: rotate(45deg)

    &scheme-1-block_desktop
        +media(m)
            display: none

    &scheme-1-block_mobile
        +media(d)
            display: none

    &scheme-1 .sp-autoclave-scheme__element
        display: flex
        align-items: center

        &:nth-child(1)
            left: 140px
            bottom: 230px
        &:nth-child(2)
            left: 610px
            bottom: 450px
        &:nth-child(3)
            left: 600px
            bottom: 290px
        &:nth-child(4)
            left: 1000px
            bottom: 550px
        &:nth-child(5)
            right: 140px
            top: 50px

    &scheme-2 .sp-autoclave-scheme__element
        &:nth-child(1)
            left: 75px
            top: 30px
        &:nth-child(2)
            left: 400px
            top: 30px
        &:nth-child(3)
            top: 10px
            left: 820px
        &:nth-child(4)
            left: 210px
            top: 370px
        &:nth-child(5)
            left: 560px
            bottom: 520px
        &:nth-child(6)
            left: 90px
            bottom: 240px
        &:nth-child(7)
            left: 400px
            bottom: 210px
        &:nth-child(8)
            left: 720px
            bottom: 190px

        &:nth-child(1) .sp-autoclave-scheme__long-balloon
            width: 280px
        &:nth-child(2) .sp-autoclave-scheme__long-balloon
            width: 270px
        &:nth-child(3) .sp-autoclave-scheme__long-balloon
            width: 330px
        &:nth-child(5) .sp-autoclave-scheme__long-balloon
            width: 410px
        &:nth-child(6) .sp-autoclave-scheme__long-balloon
            width: 310px
        &:nth-child(7) .sp-autoclave-scheme__long-balloon
            width: 170px
        &:nth-child(8) .sp-autoclave-scheme__long-balloon
            width: 350px

    &characteristics-section
        +media(d)
            background-color: #FAFBFC
            padding-top: 100px
            padding-bottom: 100px

        +media(m)
            padding-bottom: 60px

        &__scheme
            +media(d)
                &_desktop
                    width: 1170px
                    margin-left: auto
                    margin-right: auto

                &_mobile
                    display: none !important

            +media(m)
                &_desktop
                    display: none !important

                &_mobile
                    margin-top: 30px
                    margin-bottom: 30px

        &__table-wrap
            +media(d)
                display: flex

                &_first
                    .sp-autoclave-characteristics-section__table td
                        padding-bottom: 60px

                &_mobile
                    display: none

            +media(m)
                margin-left: -16px
                margin-right: -16px

                &_desktop
                    display: none

        &__table-title
            font-family: $bold-f

            +media(d)
                width: 310px
                flex-shrink: 0
                flex-grow: 0
                padding-left: 50px
                padding-right: 25px
                font-size: $big-fz

            +media(m)
                margin-left: -16px
                margin-right: -16px
                padding: 20px 16px
                font-size: 18px
                text-align: center
                background-color: #FAFBFC

        &__table
            width: 100%
            height: 100%
            border-spacing: 0
            border-collapse: collapse

            tr
                +media(m)
                    &:nth-child(4n),
                    &:nth-child(4n-1)
                        background-color: #FAFBFC

                    &:nth-child(4n-2),
                    &:nth-child(4n-3)
                        background-color: $light-c

            th
                font-size: 16px
                font-family: $base-f
                font-weight: normal
                text-transform: uppercase
                text-align: left

                +media(d)
                    border-left: 1px solid $base-c
                    padding: 0 30px 10px

                +media(m)
                    padding: 10px 16px 5px

            td
                font-family: $bold-f

                +media(d)
                    padding: 0 30px 10px
                    width: 200px
                    font-size: 24px
                    border-left: 1px solid $base-c

                +media(m)
                    padding: 5px 16px 10px
                    font-size: 28px
                    color: $base-c

                span
                    +media(d)
                        font-size: 42px
                        color: $base-c

    &kek-scheme
        display: flex
        align-items: center

        &__circle
            width: 160px
            height: 160px
            border: 2px solid $base-c
            border-radius: 50%
            overflow: hidden

            &_text
                font-size: 36px
                line-height: 160px
                font-family: $bold-f
                color: $base-c
                letter-spacing: 2px
                text-align: center

        &__equal
            display: block
            margin-right: 30px
            margin-left: 30px
            font-size: 40px
            line-height: 1
            font-family: $bold-f
            color: $base-c

        &__img
            width: 100%
            height: 100%

    &water-cycle-section
        &__note
            margin-top: 30px
            margin-left: 110px
            font-size: 14px

        &__title
            text-align: center

        &__factoids
            display: flex
            justify-content: space-between
            align-items: flex-start
            width: 820px
            margin: 0 auto
            padding: 0

            .sp-autoclave-icon-factoid
                flex: 0 0 200px

    &water-cycle-scheme
        display: flex
        justify-content: space-between
        align-items: flex-start

        &__part
            flex: 0 0 420px

        &__step
            display: flex
            align-items: flex-start
            font-size: 18px

            &::before
                content: ""
                display: block
                width: 26px
                height: 26px
                margin-top: 2px
                margin-right: 15px
                flex-shrink: 0
                background-image: url(../images/special-projects/autoclave/svg/drop.svg)
                background-size: cover
                background-repeat: no-repeat

            &:not(:last-child)
                margin-bottom: 20px

        &__img
            width: 310px
            flex-shrink: 0

    &icon-factoid
        &_center
            text-align: center

            .sp-autoclave-icon-factoid__icon
                margin-left: auto
                margin-right: auto

        &__icon
            margin-bottom: 15px

            &_big
                width: 106px
                height: 106px

            &_small
                width: 64px
                height: 64px

        &__text
            font-size: 16px


    &eco-control-section__factoids
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 40px 20px
        margin: 0
        padding: 0

    &cyanide-section
        display: flex
        align-items: flex-start

    &cyanide
        width: 230px
        flex-shrink: 0
        margin-left: 130px
        cursor: pointer

        &:hover .sp-autoclave-cyanide__caption
            color: $base-c


        &__img
            margin-bottom: 20px

        &__caption
            font-size: 24px
            line-height: 1.2
            font-family: $bold-f
            transition: color $transition-time

    &map-section
        margin-bottom: -100px

        &__title
            width: 420px
            margin-left: 220px
            font-size: 24px
            line-height: $mini-lh
            font-family: $bold-f

        &__img
            position: relative
            top: -140px

    &footer
        &__title
            font-size: 42px
            line-height: 1.2
            font-family: $bold-f
            color: $base-c

        &__text
            a
                color: $base-c

                &:hover,
                &:focus
                    text-decoration: none

    &video-wrap
        position: relative

    &video-play-btn
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 1
        width: 106px
        height: 106px
        border-radius: 50%
        border: 1px solid $base-c
        background-color: rgba($light-c, .4)

        &:hover,
        &:focus
            background-color: $light-c

        &::before
            content: ""
            width: 75px
            height: 75px
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            z-index: 2
            border-radius: 50%
            background-color: $base-c

        &::after
            content: ""
            width: 0
            height: 0
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            z-index: 3
            margin-left: 4px
            border-top: 18px solid transparent
            border-left: 32px solid $light-c
            border-bottom: 18px solid transparent

    &share-widget-wrap
        +media(d)
            height: 0
            position: sticky
            margin-right: 54px
            bottom: 50%
            transform: translateY(-50%)
            text-align: right

    &share-widget
        +media(d)
            display: inline-block
            position: relative
            top: -174px

        .share-widget__link
            display: block

            &:not(:last-child)
                +media(d)
                    margin-bottom: 10px
                    margin-right: 0

                +media(m)
                    margin-right: 20px

        .share-widget__link-img
            +media(d)
                width: 36px
                height: 36px

            +media(m)
                width: 42px
                height: 42px


    &share-widget-wrap__title
        +media(d)
            display: none

        +media(m)
            margin-bottom: 20px
            text-align: center
            font-weight: normal

    &navigation-wrap
        height: 0
        position: sticky
        bottom: 50%
        transform: translateY(-50%)
        margin-left: 32px
        width: max-content

        +media(m)
            display: none

    &navigation
        position: relative
        top: -240px
        margin: 0
        padding: 0

        &__btn
            display: flex
            align-items: center
            padding: 10px
            color: #CBD3DA

            &:hover
                .sp-autoclave-navigation__text
                    max-width: 100%
                    margin-right: 15px

            &_current
                .sp-autoclave-navigation__indicator
                    &::after
                        transform: scale(1)

        &__text
            display: inline-block
            max-width: 0
            margin-right: 0
            flex-grow: 1
            font-size: 16px
            white-space: nowrap
            overflow: hidden
            transition: max-width .2s ease-in-out, margin-right .2s ease-in-out

            &:first-letter
                font-family: $bold-f

        &__indicator
            position: relative
            display: inline-block
            width: 6px
            height: 6px
            background-color: #CBD3DA
            border-radius: 50%

            &::after
                content: ""
                position: absolute
                left: -5px
                top: -5px
                width: 16px
                height: 16px
                border-radius: 50%
                border: 1px solid #CBD3DA
                transform: scale(0)
                transition: transform .2s ease-in-out


.sp-autoclave-pop-up-body-cover
    display: block
    min-width: 100%
    z-index: -1
    visibility: hidden
    overflow: auto hidden

    &.visible
        visibility: visible
        z-index: 100

.sp-autoclave-pop-up-wrapper
    display: block
    position: absolute
    width: 100%
    visibility: hidden

.sp-autoclave-pop-up-wrapper.visible
    height: 100%
    justify-content: initial
    visibility: visible

    .sp-autoclave-pop-up-container
        transform: translateX(0)

    .sp-autoclave-pop-up-back
        opacity: 1

.sp-autoclave-pop-up-back
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    min-height: 100vh
    background-color: rgba($dark-c, .5)
    opacity: 0
    cursor: pointer
    transition: opacity ease-in $transition-time

.sp-autoclave-pop-up-close
    position: sticky
    display: block
    width: 32px
    height: 32px
    margin-left: auto
    font-size: 32px
    top: 32px
    right: 32px
    color: $dark-c

.sp-autoclave-pop-up-container
    position: relative
    width: calc((100vw - 1300px) / 2 + 970px)
    min-width: 990px
    background-color: $light-c
    overflow: auto
    transform: translateX(-100vw)
    transition: transform ease-in $transition-time
    will-change: left

.sp-autoclave-pop-up-content
    width: 970px
    margin-top: -40px
    margin-left: auto
    padding: 70px 220px 70px 110px

.sp-autoclave-pop-up__title
    width: 470px
    margin-bottom: 60px
    font-size: 36px
    line-height: $mini-lh
    font-family: $bold-f

.sp-autoclave-pop-up__text
    width: 760px
    font-size: 18px
    line-height: $base-lh

    & + .sp-autoclave-pop-up__text
        margin-top: 20px

.sp-autoclave-pop-up__img
    width: 460px
    margin-top: 60px
    margin-bottom: 20px