.sp-children
    margin-bottom: -40px

.sp
    img
        display: block

        &:not(.direct-speech__avatar)
            border-radius: 4px

.sp-block
    &_mt40
        margin-top: 40px

    &_mt80
        margin-top: 80px

    &_mt100
        margin-top: 100px

    p
        margin-bottom: 20px

        &:last-child
            margin-bottom: 0

.sp-light-section
    padding: 40px 0 80px
    background-color: #fbfcfd
    border: 1px solid #d7dbe0

    &__title
        margin-bottom: 40px
        font-family: $bold-f
        font-size: 24px
        letter-spacing: 0.02em
        line-height: 24px
        text-align: center

.sp-6col
    width: 640px
    margin-left: auto
    margin-right: auto

.sp-6col_3-3
    display: flex
    align-items: flex-start

    .sp-3col
        width: 310px
        flex-shrink: 0
        flex-grow: 0

        & + .sp-3col
            margin-left: 20px

.sp-6col_4-2
    display: flex
    align-items: flex-start

    & > :first-child
        margin-right: 20px

    .sp-4col
        width: 420px
        flex-shrink: 0

    .sp-2col
        width: 200px
        position: relative

        & > .sp-placeholder
            position: absolute
            top: 0
            right: 0

.sp-12col_4-4-4
    display: flex
    align-items: flex-start

    & :nth-child(2)
        margin-left: 20px
        margin-right: 20px

    img
        width: 420px

.sp-full_4-4-4
    display: flex
    align-items: flex-start
    justify-content: center

    &__item
        flex-shrink: 0

        &:nth-child(1)
            figcaption
                width: 280px
                margin-left: auto

        &:nth-child(2)
            margin-left: 20px
            margin-right: 20px

            figcaption
                width: 480px

        &:nth-child(3)
            figcaption
                width: 280px

    figcaption
        margin-top: 20px
        font-size: 15px
        line-height: 20px
        letter-spacing: 0.08em
        color: #283348

    img
        height: 460px

.sp-3col__text
    padding-right: 40px

.sp-8col
    width: 860px
    margin-left: auto
    margin-right: auto

.sp-full_2-2
    display: flex
    align-items: flex-start
    justify-content: space-between

    & > *
        width: calc(50% - 20px)

.sp-title
    margin-bottom: 20px
    font-size: 24px
    font-family: $bold-f

.sp-separator_line
    height: 1px
    background-color: #D7DBE0

.sp-separator_sign
    display: flex
    align-items: center
    color: #7A8BA1

    &::before,
    &::after
        content: ""
        height: 2px
        flex-grow: 1
        background-color: $border-c

    &::before
        margin-right: 3px

    &::after
        margin-left: 3px

.sp-direct-speech
    width: 800px
    margin-left: -160px

.sp-fact-wrap
    display: flex
    align-items: flex-start
    justify-content: center

.sp-grid
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    margin-right: -60px
    margin-bottom: -20px

    .sp-grid__item_half
        width: calc(50% - 60px)
        flex-shrink: 0
        margin-right: 60px
        margin-bottom: 20px

.sp-fact
    flex-basis: 200px
    flex-grow: 0

    &_center
        margin: 0 10px
        text-align: center

        .sp-fact__icon
            margin-left: auto
            margin-right: auto

    &__icon
        margin-bottom: 10px
        border: 2px solid $base-c
        border-radius: 50%

        &_big
            width: 90px
            height: 90px
            line-height: 90px

        &_small
            width: 56px
            height: 56px
            line-height: 52px
            font-size: 50px

        &_error
            color: #FF1800
            text-align: center
            border: 4px solid #FF1800

    &__number
        font-family: $bold-f
        font-size: 42px
        line-height: $micro-lh
        color: $base-c

    &__title
        line-height: $mini-lh

        &_italic
            font-size: 21px
            font-family: $add-sb-it-f

        &_bold
            font-size: $base-fz
            font-family: $bold-f

    &__subtext
        width: 150px
        margin-left: auto
        margin-right: auto
        font-size: 15px
        letter-spacing: 0.08em
        line-height: 20px
        color: $base-dark-c

        &_mt10
            margin-top: 10px

    &__text
        font-size: $base-fz
        line-height: $base-lh

.sp-children__overflow-small-img
    width: 420px
    max-width: initial

    &_left
        margin-left: -110px

.sp-children__overflow-big-img
    width: 640px
    max-width: initial

.sp-placeholder
    flex-shrink: 0
    background: #f9fafa
    border: 1px solid $base-c
    border-radius: 50%

    &_small
        width: 172px
        height: 172px

    &_big
        width: 307px
        height: 307px

.sp-placeholder_1
    margin-top: 30px
    margin-left: auto

.sp-placeholder_2
    margin-left: 20px

.sp-placeholder_3
    position: absolute
    right: 110px
    bottom: 70px

.sp-children
    padding-top: 0
    overflow: hidden

    &__header
        position: relative
        padding-left: 110px
        padding-top: 70px
        padding-bottom: 190px

    &__project-title
        margin-bottom: 40px
        font-size: 56px
        line-height: $mini-lh
        font-family: $bold-f

    &__project-description
        width: 550px
        margin-bottom: 0
        font-size: 21px
        line-height: $base-lh

    &__header-img
        position: absolute
        top: 0
        left: 700px
        height: 540px

.sp-children-section
    &__cover-wrap
        position: relative
        height: 480px
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 80px
        background-size: cover
        background-position: center
        background-repeat: no-repeat

        &::after
            content: ""
            position: absolute
            top: 0
            left: 0
            z-index: 1
            width: 100%
            height: 100%
            background-color: rgba(#4c607b, .3)

    &__title-wrap
        position: relative
        z-index: 2
        text-align: center
        color: $light-c

    &__section-number
        width: 82px
        height: 82px
        margin: 0 auto 10px
        font-size: 56px
        line-height: 75px
        font-family: $bold-f
        text-align: center
        border: 5px solid $light-c
        border-radius: 50%

    &__title
        font-size: 76px
        line-height: $micro-lh
        font-family: $bold-f

    &__subtitle
        display: flex
        align-items: center
        justify-content: center
        height: 122px
        font-size: 24px
        font-family: $bold-f
        text-transform: uppercase
        border-radius: 4px
        background-color: #f9fafa
        border: 1px solid $base-c

    &__description
        margin-bottom: 60px
        font-size: 22px
        font-family: $add-sb-it-f
        text-align: center

.icon-title-wrap
.icon-title
    &__icon
        margin: 0 auto 20px

    &__text
        font-family: $bold-f
        font-size: 18px
        letter-spacing: 0.02em
        line-height: 24px
        text-align: center
        color: #000

        &_1line
            max-width: 400px

        &_2line
            max-width: 280px

    &__text-wrap
        display: flex
        align-items: center

        &::before,
        &::after
            content: ""
            height: 1px
            flex-grow: 1
            background-color: #D7DBE0

        &::before
            margin-right: 20px

        &::after
            margin-left: 20px

.sp-slider-timeline
    display: flex
    align-items: flex-start
    justify-content: space-between
    position: relative

    &::after
        content: ""
        display: block
        height: 1px
        position: absolute
        top: 15px
        left: 110px
        right: 116px
        z-index: 1
        background-color: #C3CEDF

.sp-slider-note
    width: 1080px
    margin: 20px auto 0
    font-size: 15px
    letter-spacing: 0.08em
    color: #283348

    a
        text-decoration: none
        color: $base-c

        &:hover
            text-decoration: underline

.sp-children-section_1__slider-timeline
    width: 860px
    margin: 0 auto

.sp-children-section_2__slider-timeline
    width: 610px
    margin: 0 auto

.timeline-step
    position: relative
    z-index: 2
    text-align: center

    &:first-child
        .timeline-step__number-wrap
            width: calc((100% - 27px) / 2 + 27px + 20px)
            padding-left: calc((100% - 27px) / 2)
            margin-left: 0

    &:last-child
        .timeline-step__number-wrap
            width: calc((100% - 27px) / 2 + 27px + 20px)
            padding-right: calc((100% - 27px) / 2)
            margin-right: 0

    &__number-wrap
        width: 67px
        height: 27px
        margin: 0 auto 10px
        padding: 0 20px
        background-color: #fbfcfd

    &__number
        display: block
        width: 27px
        height: 27px
        font-size: $base-fz
        line-height: 24px
        color: #C3CEDF
        text-align: center
        border: 1px solid #C3CEDF
        border-radius: 50%

    &__title
        font-size: 15px
        letter-spacing: 0.08em

    &.active
        .timeline-step__number
            font-family: $bold-f
            color: $light-c
            border-color: $base-c
            background-color: $base-c

        .timeline-step__title
            color: $base-c

.sp-step-slider
    width: 1080px
    height: 640px
    margin: 0 auto
    background: $light-c
    border: 1px solid #d2d7dd
    border-radius: 4px

    .slider-arrow
        display: block
        width: 48px
        height: 48px
        border-radius: 50%
        position: absolute
        top: 50%
        transform: translateY(-50%)
        z-index: 2
        font-size: 25px
        line-height: 50px
        color: $base-c
        background-color: #EFF3F9

        &-prev
            left: 20px
            padding-right: 2px

        &-next
            right: 20px
            padding-left: 5px

    .slider-circles-container
        bottom: 40px

    .slider-circle-item
        background-color: $light-c
        border: 1px solid $base-c

        &.active,
        &:hover
            background-color: $base-c

    &__step-number
        display: block
        width: 48px
        height: 48px
        margin: 0 auto 10px
        font-size: 28px
        line-height: 48px
        font-family: $bold-f
        color: $light-c
        text-align: center
        background-color: $base-c
        border-radius: 50%

    &__step-title
        margin-bottom: 20px
        font-family: $bold-f
        font-size: 24px
        letter-spacing: 0.03em
        line-height: $base-lh
        text-align: center

    &__text
        width: 640px
        margin-left: auto
        margin-right: auto

    &__fact-wrap

        .sp-fact
            width: 200px
            margin-left: 50px
            margin-right: 50px

.sp-step-slider-1__slide-1
    padding-top: 50px
    text-align: center

.sp-step-slider-1__slide-2
    padding: 160px 120px 70px

.sp-step-slider-1__slide-3
    padding: 110px 120px

.sp-step-slider-1__slide-4
    padding: 110px 195px

.sp-step-slider-1__slide-5,
.sp-step-slider-1__slide-6
    padding-top: 50px

.sp-step-slider-1__slide-7
    padding: 50px 110px

.sp-bullet-list
    margin: 0
    padding: 0 0 0 18px

    &__title
        margin-bottom: 20px
        font-family: $bold-f

    &__item
        &:not(:last-child)
            margin-bottom: 20px

.sp-bullet-item
    position: relative

    &::before
        content: ""
        width: 8px
        height: 8px
        position: absolute
        left: -18px
        top: 8px
        background-color: $base-c
        border-radius: 50%

.sp-icon-list
    padding: 0
    margin: 40px 0 0 0

.sp-icon-list__item
    display: flex
    align-items: flex-start

    &:not(:last-child)
        margin-bottom: 20px

.sp-icon-item
    &__icon
        flex-shrink: 0
        margin-right: 30px

    &__text

.sp-info-note
    display: flex
    align-items: flex-start
    width: 640px
    margin-top: 20px
    margin-left: 18px

    &__sign
        width: 23px
        height: 23px
        margin-right: 15px
        flex-shrink: 0
        font-size: 17px
        line-height: 22px
        color: #FF1800
        text-align: center
        border: 1px solid #FF1800
        border-radius: 50%

    &__text
        font-size: 12px
        line-height: $base-lh
        color: #283348
        text-align: left

.sp-map-wrap
    position: relative
    height: 640px

.sp-map
    height: 640px

.sp-map-points

    &-outer
        position: absolute
        top: 80px
        left: 110px
        z-index: 3
        width: 420px
        height: 480px
        border-radius: 4px
        background-color: $light-c
        border: 1px solid #d2d7dd

    &-inner
        margin: 30px 0
        padding: 0 25px
        height: calc(100% - 60px)

        &_all-scroll
            overflow: scroll

    &__list-item

        &_single
            display: flex
            flex-direction: column
            height: 100%

        &:not(:last-child)
            margin-bottom: 30px
            border-bottom: 1px solid #D7DBE0

    &__title
        margin-bottom: 30px
        font-size: 28px
        line-height: 1.2
        font-family: $bold-f
        letter-spacing: 0.02em

        &_icon
            position: relative
            display: flex
            align-items: center
            margin-bottom: 20px
            font-size: 21px

            &::before
                content: ""
                display: block
                width: 36px
                height: 36px
                margin-right: 15px
                background-color: $base-c
                border-radius: 50%

            & + .sp-map-points__list-wrap
                margin-left: 51px

    &__list-wrap
        position: relative
        flex-grow: 0

        &_1line-title
            height: 360px

        &_2line-title
            height: 330px

        &::before
            content: ""
            position: absolute
            top: 0
            width: 100%
            height: 24px
            background: linear-gradient(#fff 0%, rgba(255, 255, 255, 0) 100%)

        &::after
            content: ""
            position: absolute
            bottom: 0
            width: 100%
            height: 24px
            background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%)

    &__list
        margin: 0
        padding: 0
        margin-right: -25px
        padding-right: 70px
        overflow: scroll
        height: 100%

    &__item
        font-size: 16px
        line-height: $base-lh
        letter-spacing: 0.02em
        padding-bottom: 15px
        padding-top: 15px

        &:not(:first-child)

        &:not(:last-child)
            border-bottom: 1px solid #D7DBE0

.sp-children-section_1
    .sp-children-section__title
        width: 640px

.sp-children-section_2__fact-wrap
    display: flex
    align-items: flex-end

    .sp-fact-wrap
        flex-grow: 1
        justify-content: space-between
        margin-left: -10px
        margin-right: -10px

.sp-step-slider-2__slide-1
    padding-top: 50px
    text-align: center

    .sp-info-note
        margin-left: 180px

.sp-step-slider-2__slide-2
    padding: 50px 120px

    .sp-bullet-list
        width: 420px
        margin-left: 30px

    .sp-info-note
        width: 400px
        margin-top: 130px
        margin-left: 30px

.sp-step-slider-2__slide-3
    padding: 50px 120px

    .sp-icon-list
        width: 620px
        margin-left: auto
        margin-right: auto

.sp-place
    &__title
        margin-bottom: 50px
        font-family: $bold-f
        font-size: 24px
        letter-spacing: 0.02em

    &__subtitle
        font-size: 18px
        line-height: $base-lh
        font-family: $bold-f

    &__decription
        margin-bottom: 50px
        font-size: 18px
        line-height: $base-lh

    &__contacts-table
        font-size: 16px

        [class^="icon-"]
            display: inline-block
            width: 18px
            height: 20px
            margin-right: 5px
            font-size: 0
            line-height: 20px
            color: $base-c
            vertical-align: -2px
            text-align: center
            [class^="icon-"]::before
            font-size: 17px

        a
            color: $base-c
            text-decoration: none

            &:hover,
            &:focus
                text-decoration: underline

        tr:not(:last-child) td
            padding-bottom: 10px

        td
            padding-top: 0
            padding-left: 0
            padding-right: 0
            vertical-align: baseline

            &:first-child
                width: 120px
                padding-right: 20px

    &__img
        width: 420px

