.sp-winter-fun
    margin-bottom: -40px
    padding-top: 0
    overflow: hidden

    .preview-slider__big-img-wrap::after
        border-radius: 28px

.sp-winter-fun__photo,
.sp-winter-fun__preview-slider,
.sp-winter-fun__preview-slider .slide
    border-radius: 28px

.preview-slider__big-img-wrap::after,
.sp-winter-fun__preview-slider .slide
    overflow: hidden

.city-bg
    position: relative
    min-height: 2810px
    background-image: url(../images/special-projects/winter-fun/illustration-city.jpg)
    background-size: 100%
    background-repeat: no-repeat
    background-color: #0d2c80
    overflow: hidden

    &::after
        content: ""
        position: absolute
        bottom: -200px
        left: -15%
        z-index: 1
        width: 130%
        height: 480px
        background-image: url(../images/special-projects/winter-fun/svg/snowdrift1.svg)
        background-size: 100%
        background-repeat: no-repeat

.nature-bg
    position: relative
    min-height: 1820px
    padding-top: 40px
    background-image: url(../images/special-projects/winter-fun/illustration-nature.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-color: #70aafb
    overflow: hidden

    &::after
        content: ""
        position: absolute
        bottom: -360px
        left: -15%
        z-index: 1
        width: 130%
        height: 480px
        background-image: url(../images/special-projects/winter-fun/svg/snowdrift2.svg)
        background-size: 100%
        background-repeat: no-repeat
        
.blue-bg
    background-color: #DDEFFF

.sp-winter-fun-header
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    text-align: center
    padding-top: 130px
    padding-bottom: 140px
    color: $light-c

    &__title
        position: relative
        margin-bottom: 10px
        font-size: 76px
        line-height: $mini-lh
        font-family: $bold-f
        letter-spacing: 0.02em
        color: $light-c


    &__description
        width: 590px
        margin-top: 0
        margin-bottom: 0
        font-size: $medium-fz
        font-family: $add-sb-it-f

    &__wobbler
        margin-bottom: 60px


.sp-winter-fun-section
    position: relative

    &__title
        position: relative
        font-size: 180px
        font-family: $bold-f
        letter-spacing: 0.02em
        color: #fff
        text-transform: uppercase

        &_left
            left: -100px

        &_right
            text-align: right
            margin-right: -100px

    &__description
        width: 530px
        padding: 36px
        font-family: $add-sb-it-f
        font-size: 21px
        line-height: 32px
        color: #2e5194
        background-color: $light-c
        border-radius: 32px

        &_right
            margin-top: 30px
            margin-left: auto
            margin-right: 220px

.sp-winter-fun-simple-section__title
    width: 640px
    margin-left: auto
    margin-right: auto
    margin-bottom: 75px
    font-size: 42px
    line-height: 1.1
    font-family: $bold-f
    letter-spacing: 0.02em
    text-align: center
    color: #0b4965

.sp-winter-fun-ball-btn
    position: absolute
    z-index: 10
    display: block
    width: 240px
    height: 240px

    span
        display: flex
        flex-direction: column
        justify-content: center
        width: 180px
        height: 180px
        margin: auto
        font-family: $bold-f
        font-size: 21px
        line-height: $mini-lh
        letter-spacing: 0.02em
        text-align: center
        color: $light-c
        background-color: #0073ff
        border-radius: 50%
        filter: drop-shadow(0px 12px 24px rgba(0, 115, 255, 0.8))

        &::before
            content: ""
            display: block
            margin: 0 auto 10px
            background-repeat: no-repeat
            background-size: contain
            background-position: 50%

    &:hover,
    &:focus
        &::before
            filter: drop-shadow(0px 24px 48px rgba(0, 115, 255, 0.8))

    &::before
        content: ""
        position: absolute
        top: 0
        display: block
        width: 240px
        height: 240px
        background-color: #0073ff
        opacity: 0.4
        border-radius: 50%
        filter: drop-shadow(0px 12px 24px rgba(0, 115, 255, 0.8))

    &_city_1
        left: 600px
        top: 600px

        span::before
            width: 33px
            height: 43px
            background-image: url(../images/special-projects/winter-fun/svg/christmastree.svg)

    &_city_2
        left: 140px
        top: 800px

        span::before
            width: 53px
            height: 40px
            background-image: url(../images/special-projects/winter-fun/svg/skates.svg)

    &_city_3
        left: 820px
        top: 1020px

        span::before
            width: 56px
            height: 25px
            background-image: url(../images/special-projects/winter-fun/svg/slides.svg)

    &_city_4
        left: 280px
        top: 1370px

        span::before
            width: 42px
            height: 43px
            background-image: url(../images/special-projects/winter-fun/svg/dendrarii.svg)

    &_city_5
        left: calc(50% - 120px)
        top: 1850px

        span::before
            width: 40px
            height: 35px
            margin-top: -10px
            background-image: url(../images/special-projects/winter-fun/svg/calendar.svg)

    &_nature_1
        left: 390px
        top: 710px

        span::before
            width: 58px
            height: 35px
            background-image: url(../images/special-projects/winter-fun/svg/ski-resort.svg)

    &_nature_2
        left: 800px
        top: 1040px

        span::before
            width: 48px
            height: 40px
            background-image: url(../images/special-projects/winter-fun/svg/recreation-center.svg)


.sp-winter-fun-calendar-section
    position: relative
    z-index: 2
    top: -100px

.sp-winter-fun-events-list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 60px 30px
    width: 970px
    margin: 0 auto
    padding: 0
    list-style-type: none

.sp-winter-fun-event
    display: flex
    flex-direction: column
    background-color: $light-gray
    border-radius: 32px
    overflow: hidden
    box-shadow: 0 12px 24px #e1ecf7
    cursor: pointer

    &:hover
        box-shadow: 0 24px 48px #e1ecf7

    &__cover
        height: 180px

    &__content
        flex-grow: 1
        display: flex
        flex-direction: column
        padding: 35px
        background-color: $light-c

    &__title
        margin-top: 0
        margin-bottom: 50px
        font-family: $bold-f
        font-size: 22px
        line-height: 1.1
        letter-spacing: 0.02em
        text-align: center

    &__links-wrap
        margin-top: auto
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        margin-bottom: -8px
        margin-right: -8px

    &__link
        height: 26px
        margin-bottom: 8px
        margin-right: 8px
        padding-left: 12px
        padding-right: 12px
        font-size: 12px
        line-height: 24px
        font-family: $bold-f
        letter-spacing: 0.04em
        color: $light-c
        background-color: $base-c
        border-radius: 13px

.sp-winter-fun-simple-section__with-map
    position: relative
    margin-top: 70px
    padding-bottom: 300px
    overflow: hidden

    &::after
        content: ""
        position: absolute
        bottom: -130px
        left: -13%
        z-index: 1
        width: 130%
        height: 320px
        background-image: url(../images/special-projects/winter-fun/svg/snowdrift3.svg)
        background-size: 100%
        background-repeat: no-repeat

.sp-winter-fun__map
    width: 1240px
    height: 640px
    margin-left: auto
    margin-right: auto
    border: 1px solid #d7e3ef
    box-shadow: 0 26px 28px #e1ecf7
    border-radius: 56px
    overflow: hidden

.sp-winter-map-points__list
    position: absolute
    top: 50%
    left: -70px
    transform: translateY(-50%)
    z-index: 2
    margin: 0
    padding: 30px 20px
    background-color: $light-c
    border-radius: 36px
    box-shadow: 0 12px 24px #e1ecf7

.sp-winter-map-points__item
    padding-top: 5px
    padding-bottom: 5px
    font-size: 16px
    line-height: 1.5
    letter-spacing: 0.02em

.sp-winter-fun-rules-section
    position: relative
    top: -60px
    z-index: 2
    min-height: 930px
    background-image: url(../images/special-projects/winter-fun/tips-illustration.png);
    background-size: 1030px 675px
    background-repeat: no-repeat
    background-position: 50% 190px

.sp-winter-fun-rules
    margin: 0
    padding: 0

.sp-winter-fun-rules__item
    position: absolute
    width: 260px
    box-sizing: content-box
    padding: 40px
    border-radius: 32px
    background-color: $light-c
    font-size: 18px
    letter-spacing: 0.02em

    &_1
        top: 150px
        left: -50px

    &_2
        top: 220px
        left: 600px

    &_3
        top: 220px
        right: -140px

    &_4
        top: 630px
        left: -50px

    &_5
        top: 750px
        left: 490px

    &_6
        top: 480px
        right: -80px

.sp-winter-fun-make-photo-illustration
    height: 930px
    position: relative

    img
        position: absolute

    img:nth-child(1)
        top: 160px
        left: 37%
        width: 120px

    img:nth-child(2)
        top: 120px
        left: 47%
        width: 140px

    img:nth-child(3)
        top: 140px
        left: 59%
        width: 120px

    img:nth-child(4)
        top: 220px
        left: 50%
        transform: translateX(-50%)
        min-height: 920px
        object-fit: contain

.sp-winter-fun-gallery
    margin-top: 110px