*,
*::before,
*::after
    box-sizing: border-box

body
    position: relative
    display: flex
    flex-direction: column
    min-width: 1340px
    min-height: 100vh
    margin: 0
    padding: 0
    font-family: $base-f
    font-size: $base-fz
    line-height: $mini-lh
    color: $dark-c
    -webkit-text-size-adjust: none
    -webkit-overflow-scrolling: touch
    text-rendering: optimizeLegibility
    -moz-osx-font-smoothing: grayscale
    font-smoothing: antialiased
    -webkit-font-smoothing: antialiased

main
    flex: 1 0 auto
    display: flex
    flex-direction: column
    padding-top: 20px

header, footer
    flex-shrink: 0

img
    max-width: 100%

b, strong
    font-family: $bold-f

a,
button,
input,
textarea
    &:focus,
    &:active
        outline: none

input,
textarea
    border: none
    box-shadow: none
    font-family: inherit
    line-height: inherit

input
    margin: 0

input[type=text], input[type=submit], textarea
    -webkit-appearance: none

input[type=submit]
    cursor: pointer

input[readonly]
    pointer-events: none
    cursor: default

textarea
    resize: none

button
    margin: 0
    padding: 0
    font-size: inherit
    line-height: inherit
    font-family: inherit
    color: inherit
    background-color: transparent
    border: none
    box-shadow: none
    cursor: pointer

fieldset
    all: unset
    margin: 0
    padding: 0
    border: none

h1
    margin: 0
    font-size: $h1-fz

h2
    margin: 0
    font-size: $h2-fz

h3
    margin: 0
    font-size: $h3-fz

h4
    margin: 0
    font-size: $h4-fz

h5
    margin: 0
    font-size: $h5-fz

h6
    margin: 0
    font-size: $h6-fz

figure, figcaption
    margin: 0

p
    margin-top: 0
    line-height: $base-lh

    & + p:last-of-type
        margin-bottom: 0

    &:not(:last-of-type),
    &:not(:last-child)
        margin-bottom: 20px

ul, ol
    list-style: none

[hidden],
.hidden
    display: none !important

.disabled,
*:disabled
    pointer-events: none
    cursor: default

.visually-hidden
    visibility: hidden

.no-action
    pointer-events: none
    cursor: default

.body-overlay
    position: absolute
    top: 0
    z-index: 10
    width: 100%
    height: 100%
    background: rgba($dark-c, .3)
    cursor: pointer
