[class^="icon-"], [class*=" icon-"]
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    &::before,
    &::after
        font-family: $icon-f !important

.icon-close:before
    content: "\e901"

.icon-arrow-left:before
    content: "\e900"

.icon-arrow-right:before
    content: "\e902"

.icon-search:before
    content: "\e907"

.icon-person:before
    content: "\e903"

.icon-star:before
    content: "\e904"

.icon-book:before
    content: "\e905"

.icon-megaphone:before
    content: "\e906"

.icon-map:before
    content: "\e908"

.icon-news:before
    content: "\e909"