[class^="icon-"], [class*=" icon-"]
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    &::before,
    &::after
        font-family: $icon-f !important

.icon-logo-event:before
  content: "\e92c"

.icon-logo-history:before
  content: "\e92d"

.icon-logo-news:before
  content: "\e92e"

.icon-logo-people:before
  content: "\e92f"

.icon-logo-sign:before
  content: "\e930"

.icon-close:before
  content: "\e901"

.icon-close-thin:before
  content: "\e933"

.icon-arrow-left:before
  content: "\e900"

.icon-arrow-right:before
  content: "\e902"

.icon-arrow-left-thin:before
  content: "\e903"

.icon-arrow-right-thin:before
  content: "\e904"

.icon-arrow-down-dir:before
  content: "\e90a"

.icon-arrow-right-dir:before
  content: "\e905"

.icon-round-arrow-right-dir:before
  content: "\e931"

.icon-triangle-down:before
  content: "\e914"

.icon-search:before
  content: "\e907"

.icon-news-stroke:before
  content: "\e909"

.icon-news-fill:before
  content: "\e90d"

.icon-news-cut:before
  content: "\e90e"

.icon-history:before
  content: "\e906"

.icon-megafon-fill:before
  content: "\e924"

.icon-megafon-stroke-lines:before
  content: "\e90b"

.icon-megafon-stroke:before
  content: "\e913"

.icon-geo-fill:before
  content: "\e928"

.icon-geo-stroke:before
  content: "\e929"

.icon-people:before
  content: "\e908"

.icon-calendar-fill:before
  content: "\e922"

.icon-calendar:before
  content: "\e90c"

.icon-reportage-fill:before
  content: "\e923"

.icon-reportage:before
  content: "\e91a"

.icon-web:before
  content: "\e90f"

.icon-instagram:before
  content: "\e910"

.icon-odnoklassniki:before
  content: "\e92a"

.icon-clock:before
  content: "\e911"

.icon-clip-bold:before
  content: "\e915"

.icon-clip-thin:before
  content: "\e916"

.icon-cuisine:before
  content: "\e917"

.icon-coin:before
  content: "\e918"

.icon-link:before
  content: "\e91c"

.icon-ticket:before
  content: "\e919"

.icon-star-round:before
  content: "\e91b"

.icon-star-sharp:before
  content: "\e92b"

.icon-bed:before
  content: "\e927"

.icon-hotel:before
  content: "\e921"

.icon-phone:before
  content: "\e912"

.icon-phones:before
  content: "\e91e"

.icon-activities:before
  content: "\e91d"

.icon-food:before
  content: "\e91f"

.icon-transport:before
  content: "\e920"

.icon-error:before
  content: "\e925"

.icon-success:before
  content: "\e926"

.icon-mail:before
  content: "\e932"