.container
    position: relative
    width: 1300px
    margin-right: auto
    margin-left: auto

.page-container
    padding-top: 20px
    background-color: $light-c

.layout-section
    margin-top: 40px

.base-layout
    display: flex
    align-items: flex-start

    &__main
        width: 860px
        flex-shrink: 0
        margin-right: 20px

    &__aside
        width: 420px
        padding-left: 20px
        padding-right: 20px
        padding-bottom: 20px
        flex-shrink: 0

.aside-widget
    &:not(:last-child)
        margin-bottom: 40px