{% if slider %}
    <div class="post-editor-slider-block__slider js-post-editor-slider">
        {% for slide in slider %}
            <img src=""
                 data-lazy="{{ slide.img }}"
                 alt="{{ slide.description }}"
                 data-description="{{ slide.description }}"
                 class="post-editor-slider-block__slide">
        {% endfor %}
    </div>
    <div class="post-editor-slider-block__footer">
        <div class="post-editor-slider-block__caption"></div>
        <div class="post-editor-slider-block__navigation-wrap hidden">
            <button class="post-editor-slider-block__arrow post-editor-slider-block__arrow-prev icon-arrow-left-thin"></button>
            <div class="post-editor-slider-block__navigation slide-nav-counter active">
                <span class="js-post-editor-slider-current">01</span>&nbsp;/&nbsp;<span class="js-post-editor-slider-total"></span>
            </div>
            <button class="post-editor-slider-block__arrow post-editor-slider-block__arrow-next icon-arrow-right-thin"></button>
        </div>
    </div>
{% endif %}