body
    position: relative
    display: flex
    flex-direction: column
    min-height: 100vh
    margin: 0
    padding: 0
    font-family: $base-f
    font-size: $base-fz
    line-height: $mini-lh
    color: $dark-c
    -webkit-text-size-adjust: none
    -webkit-overflow-scrolling: touch
    text-rendering: optimizeLegibility
    -moz-osx-font-smoothing: grayscale
    font-smoothing: antialiased
    -webkit-font-smoothing: antialiased

*,
*::before,
*::after
    box-sizing: border-box

p
    margin-top: 0
    margin-bottom: 0
    line-height: $base-lh

.container
    width: 1376px
    margin-right: auto
    margin-left: auto

main
    flex: 1 0 auto
    display: flex
    flex-direction: column
