.page-error
    margin-bottom: 60px
    margin-top: 80px
    display: flex
    align-items: center
    flex-direction: row

    &__title
        font-family: $bold-f

    &__subtitle
        +media(m)
            font-size: 18px

        +media(d)
            font-size: 28px

    &-404
        position: relative
        padding-top: 0

        +media(m)
            margin-top: 60px
            text-align: center

        +media(d)
            margin-top: 110px

        &__text-wrap
            +media(m)
                margin-bottom: 30px

            +media(d)
                margin-left: 110px
                margin-right: 110px
                padding-bottom: 400px

        &__title
            margin-bottom: 20px

            +media(m)
                font-size: 24px

            +media(d)
                font-size: 48px

        &__subtitle
            +media(d)
                width: 365px

        &__img
            +media(m)
                display: block
                width: 100%
                max-width: 600px
                margin-left: auto
                margin-right: auto
                margin-bottom: 30px

            +media(d)
                width: 940px
                position: absolute
                top: 0
                right: 30px

    &-500
        margin: 60px 15px
        align-items: center
        justify-content: center

        &__title
            margin-top: 0
            text-align: center

            +media(m)
                margin-bottom: 20px
                font-size: 24px

            +media(d)
                margin-bottom: 40px
                font-size: 48px

        &__subtitle
            max-width: 450px
            text-align: center
            margin: 0 auto

        &__img
            display: block
            width: 100%
            max-width: 800px
            margin-bottom: 60px

            +media(m)
                max-width: 600px
                order: -1

.maintenance-mode
    &__container
        +media(m)
            text-align: center

        +media(d)
            padding-left: 20px
            padding-right: 20px

    &__header
        +media(m)
            margin-top: 30px
            margin-bottom: 60px

        +media(d)
            margin-top: 70px
            margin-bottom: 170px

    &__main
        position: relative

        +media(d)
            min-height: 700px

    &__logo
        display: block

        +media(m)
            width: 160px
            margin-left: auto
            margin-right: auto

        +media(d)
            width: 147px

    &__title
        margin-top: 0
        margin-bottom: 30px
        font-family: $bold-f

        +media(m)
            font-size: 24px

        +media(d)
            max-width: 350px
            font-size: 56px

    &__text-wrap
        +media(m)
            margin-left: auto
            margin-right: auto
            margin-bottom: 30px

        +media(d)
            max-width: 350px

    &__img
        +media(m)
            display: block
            width: 290px
            margin-left: auto
            margin-right: auto
            margin-bottom: 30px

        +media(d)
            width: 800px
            position: absolute
            top: 0
            right: 0