.btn
    height: 40px
    padding: 9px 16px 7px
    font-family: $bold-f
    font-size: 16px
    letter-spacing: 0.04em
    text-decoration: none
    border-radius: 20px

    &_white
        color: #283348
        background-color: $light-c

    &_more
        display: block
        margin-top: 24px

    &_center
        margin-left: auto
        margin-right: auto

    &_right
        margin-left: auto

    &.disabled,
    &:disabled
        @extend %disabled
