.btn
    height: 40px
    padding: 9px 15px 7px
    font-family: $bold-f
    font-size: $mini-fz
    text-decoration: none
    border-radius: 20px

    &_white
        color: #283348
        background-color: $light-c

    &_blue
        color: $light-c
        background: linear-gradient(to right, #0073ff 0%, #00caff 100%)

    &_red
        color: $light-c
        background: linear-gradient(#ff4006 0%, #ff0038 100%)

    &_yellow
        color: #FFBA00
        font-family: $base-f
        text-decoration: underline
        background-color: transparent

        &:hover,
        &.active
            background-color: #3a4961
            text-decoration: none

    &_more
        display: block
        margin-top: 40px

        span
            margin-left: 10px
            font-size: 0
            font-size: 12px
            &::before

    &_center
        margin-left: auto
        margin-right: auto

    &_right
        margin-left: auto