.cinema-widget
    display: flex
    flex-direction: column
    justify-content: center
    padding: 20px
    border-radius: 4px
    background: #283348
    border: 1px solid #b1c1d2

    &__title
        margin-bottom: 10px
        font-family: $bold-f
        font-size: 24px
        letter-spacing: 0.02em
        line-height: 24px
        color: #fff
        text-align: center

    &__slider
        height: 330px
        margin-left: 20px
        margin-right: 20px

    .slider-circles-container
        bottom: -30px

    .slider-arrow-container
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        bottom: -35px
        color: $light-c