.city-guide
    &__cover-wrap
        position: relative
        background-color: $base-c
        border-radius: 8px

        +media(m)
            padding: 16px 10px

        +media(d)
            height: 150px
            padding: 10px 40px

    &__cover
        display: block
        position: absolute
        right: 0
        bottom: 15px
        width: 390px
        height: 70px

        +media(m)
            display: none

    &__cover-wobbler
        width: 160px
        margin-bottom: 20px

        .wobbler
            color: $base-c
            background-color: $light-c

    &__cover-icon
        position: absolute
        color: $base-c
        background-color: $light-c
        border-radius: 50%
        text-align: center

        +media(m)
            width: 56px
            height: 56px
            top: 10px
            left: 16px
            line-height: 56px

        +media(d)
            width: 85px
            height: 85px
            top: 25px
            right: 110px
            line-height: 85px

        &.icon-hotel
            +media(m)
                font-size: 32px

            +media(d)
                font-size: 48px

        &.icon-food
            +media(m)
                font-size: 26px
            +media(d)
                font-size: 38px

        &.icon-activities
            +media(m)
                font-size: 24px
            +media(d)
                font-size: 32px

        &.icon-transport
            +media(m)
                font-size: 30px
            +media(d)
                font-size: 45px

        &.icon-phones
            +media(m)
                font-size: 30px
            +media(d)
                font-size: 45px

    &__img-figcaption
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center

        +media(m)
            padding-left: 80px

    &__title
        font-family: $bold-f
        line-height: 1.1
        letter-spacing: 0.02em
        color: $light-c

        +media(m)
            font-size: 20px

        +media(d)
            max-width: 350px
            font-size: 36px

    &__image
        margin-top: 40px

    &__slider
        margin-top: 40px
        padding-bottom: 20px

    &__separator
        margin-top: 60px
        margin-bottom: 60px

.city-guide-item
    &__section
        margin-top: 40px

        & + .city-guide-item__section
            margin-top: 90px

    &__cover
        margin-bottom: 30px

    &__text-wrap
        max-width: 640px
        margin: 0 auto

    &__title
        position: relative
        margin-bottom: 20px
        font-family: $bold-f

        +media(m)
            font-size: $medium-fz

        +media(d)
            font-size: 36px

    &__title-icon
        +media(m)
            display: inline-block
            width: 32px
            height: 32px
            margin-right: 16px
            vertical-align: -9px

        +media(d)
            position: absolute
            left: -110px
            top: -12px
            width: 70px
            height: 70px

    &__subtitle
        margin-bottom: 20px
        font-size: 24px
        font-family: $bold-f

    &__additional-info-wrap
        margin-bottom: 20px

.city-guide-note
    display: flex
    align-items: baseline
    margin-top: 40px

    &__icon
        margin-right: 10px
        font-size: 14px
        color: $base-c

    &__text
        max-width: 360px

.city-guide-table
    width: 100%
    margin-top: 30px
    border-collapse: collapse
    border-spacing: 0
    font-size: $base-fz

    +media(m)
        display: block
        width: 100vw
        max-width: 600px
        margin-left: -16px
        margin-right: -16px

        & tbody, th, tr, td
            +media(m)
                display: block

    &__tr
        +media(m)
            border-bottom: 1px solid #D7DBE0

        +media(d)
            border-bottom: 1px solid #7a8ba1

        &:first-child
            +media(d)
                border-top: 1px solid #7a8ba1

        &_th
            +media(m)
                display: none !important

                & + tr
                    border-top: 1px solid #D7DBE0

    &__th
        font-family: $bold-f
        text-align: left

        &_center
            text-align: center

    &__td
        padding: 20px 0
        vertical-align: top

    &__td-phone
        color: $dark-c
        text-decoration: none
        white-space: nowrap

        &:hover
            color: $base-c

    &__img
        width: 24px
        height: 24px
        vertical-align: bottom

        &:nth-child(2)
            margin-right: 10px

        &:nth-child(3)
            margin-left: 30px
            margin-right: 10px

.city-guide-table_emergency,
.city-guide-table_repairs
    +media(m)
        tr
            padding-left: 16px
            padding-right: 16px

            &:first-child
                border-top: 1px solid #D7DBE0

        td:nth-child(2)
            padding-top: 0

    +media(d)
        tr
            td:nth-child(2)
                width: 330px
                padding-left: 20px

.city-guide-table_bus-inner-city,
.city-guide-table_bus-outer-city
    +media(m)
        tr
            display: flex
            flex-wrap: wrap
            position: relative

            &::after
                content: ""
                position: absolute
                right: 30px
                top: 27px
                width: 18px
                height: 8px
                background-image: url(../images/svg/arrow-down-round.svg)
                background-repeat: no-repeat
                background-size: contain

            &.open
                &::after
                    background-image: url(../images/svg/arrow-up-round.svg)

        td
            &:nth-child(1)
                width: 60px
                flex-shrink: 0
                padding-left: 16px
                font-family: $bold-f
                background-color: $light-c

            &:nth-child(2)
                width: calc(100% - 60px)
                flex-grow: 0
                flex-shrink: 0
                background-color: $light-c

            &:nth-child(3)
                border-top: 1px solid #d7e2ee

            &:nth-child(3),
            &:nth-child(4)
                width: 100%
                padding-left: 60px
                padding-right: 60px
                background-color: #F5F6F7
                display: none

                &.visible
                    display: block

.city-guide-table_bus-inner-city
    +media(d)
        tr
            td:nth-child(1),
            th:nth-child(1)
                width: 110px

            td:nth-child(1)
                font-family: $bold-f

            td:nth-child(2),
            th:nth-child(2)
                width: 300px
                padding-left: 20px
                padding-right: 30px

            td:nth-child(3),
            th:nth-child(3)
                text-align: center

.city-guide-table_bus-outer-city
    +media(m)
        td
            &:nth-child(3)
                &::before
                    content: "Расписание"
                    display: block
                    margin-bottom: 8px
                    font-size: 14px
                    color: #283348

            &:nth-child(4)
                padding-top: 0

                &::before
                    content: "Цена билета"
                    display: block
                    margin-bottom: 8px
                    font-size: 14px
                    color: #283348

    +media(d)
        tr
            td:nth-child(1),
            th:nth-child(1)
                width: 110px

            td:nth-child(1)
                font-family: $bold-f

            td:nth-child(2),
            th:nth-child(2)
                width: 270px
                padding-left: 20px
                padding-right: 30px

            td:nth-child(3),
            th:nth-child(3)
                width: 170px
                padding-right: 20px

            td:nth-child(4),
            th:nth-child(4)
                text-align: center

.city-guide-item__taxi-grid
    +media(m)
        margin-top: 30px

    +media(d)
        display: flex
        margin-left: -10px
        margin-right: -10px
        margin-top: 40px

.taxi-grid-item
    +media(m)
        display: flex
        align-items: flex-start

        &:not(:last-child)
            margin-bottom: 20px

    +media(d)
        margin-left: 10px
        margin-right: 10px
        text-align: center

    &__img
        display: block

        +media(m)
            width: 80px
            order: 2
            margin-left: 20px

        +media(d)
            margin-bottom: 20px

    &__text-wrap
        +media(m)
            flex-grow: 1

    &__title
        margin-bottom: 15px
        font-family: $bold-f

    &__phone
        display: block
        text-decoration: none
        color: $dark-c

        &:hover
            color: $base-c

        .icon-phone
            margin-right: 5px
            color: $base-c
            vertical-align: middle