.city-guide
    &__cover-wrap
        position: relative

    &__cover
        display: block
        width: 100%
        height: 140px

    &__cover-icon
        position: absolute
        top: 25px
        right: 110px
        width: 85px
        height: 85px

    &__img-figcaption
        position: absolute
        left: 40px
        bottom: 20px

    &__title
        font-family: $bold-f
        font-size: 36px
        letter-spacing: 0.02em
        color: $light-c

    &__slider
        margin-top: 30px

    &__separator
        margin-top: 40px
        margin-bottom: 40px

.city-guide-item
    &__text-wrap
        width: 640px
        margin: 0 auto

    &__title
        margin-bottom: 20px
        font-size: 24px
        font-family: $bold-f

    &__additional-info-wrap
        margin-bottom: 20px