footer
    margin-top: 40px
    padding-top: 40px
    padding-bottom: 100px
    background-color: $base-dark-c
    background-image: url(../images/svg/footer-pattern.svg)
    background-repeat: no-repeat
    background-position: center bottom
    color: $light-c

.additional-block + footer
    margin-top: 0
    padding-top: 0

.footer
    &__main
        padding-bottom: 30px

    &__logo-link
        display: block

    &__logo-img
        display: block
        width: 147px

.footer-top
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 15px
    border-bottom: 1px solid #ECEEF1

.footer-bottom
    display: flex
    align-items: center
    padding-top: 15px
    font-size: 14px

.footer__copyright-text
    width: 640px
    margin-bottom: 0
    line-height: 1.5

.footer__editor-text
    width: 250px
    margin-left: 130px
    line-height: 1.5

.footer__social-wrap
    margin-left: auto

.footer__copyright-section
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 30px
    font-size: 14px
    color: #7A8BA1

    a, button
        color: inherit
        text-decoration: underline

        &:hover
            text-decoration: none

.footer__copyright-subblock
    display: flex
    justify-content: space-between
    align-items: center
    width: 640px

.footer__copyrights-wrap
    display: flex
    margin-left: auto

    & :not(:last-child)
        margin-right: 25px
