footer
    margin-top: 40px
    padding-top: 40px
    background-color: $base-dark-c
    background-repeat: no-repeat
    color: $light-c

    +media(m)
        text-align: center

        &::after
            content: ""
            display: block
            height: 80px
            margin-top: -20px
            margin-bottom: 30px
            background-image: url(../images/svg/footer-pattern-mobile.svg)
            background-size: contain
            background-repeat: no-repeat
            background-position: center

    +media(d)
        padding-bottom: 100px
        background-image: url(../images/svg/footer-pattern.svg)
        background-position: center bottom

.additional-block + footer
    margin-top: 0
    padding-top: 0

.footer
    &__main
        padding-bottom: 30px

    &__logo-link
        display: block

    &__logo-img
        display: block

        +media(m)
            width: 165px
            margin: 0 auto 20px

        +media(d)
            width: 147px

    &__nav
        +media(m)
            display: none

.footer-top
    +media(d)
        display: flex
        align-items: center
        justify-content: space-between
        padding-bottom: 15px
        border-bottom: 1px solid #ECEEF1

.footer-bottom
    +media(d)
        display: flex
        align-items: flex-start
        padding-top: 15px
        font-size: 14px

.footer__copyright-wrap
    max-width: 640px

    +media(m)
        font-size: 12px

.footer__redaction
    margin-top: 15px

    a
        color: inherit
        text-decoration: none

.footer__copyright-text
    margin-bottom: 0
    line-height: 1.5

.footer__editor-text
    max-width: 250px
    margin-left: 130px
    line-height: 1.5

    +media(m)
        display: none

.footer__social-wrap
    +media(m)
        margin-top: 30px

    +media(d)
        margin-left: auto

.footer__copyright-section
    margin-top: 30px
    color: #7A8BA1

    +media(m)
        font-size: 16px

    +media(d)
        font-size: 14px

    +media(m)
        & > *
            display: block
            margin: 0 auto 20px
            text-align: center

    +media(d)
        display: flex
        align-items: center

        *:nth-child(1)
            margin-left: 86px
            margin-right: 86px

        *:nth-child(2)
            margin-right: auto

        *:nth-child(3)
            margin-left: auto

        *:nth-child(4)
            margin-left: 25px

        *:last-child
            order: -1

    a, button
        color: inherit
        text-decoration: underline

        &:hover
            text-decoration: none

.footer__copyright-subblock
    +media(d)
        display: flex
        justify-content: space-between
        align-items: center
        width: 640px

.footer__copyrights-wrap
    display: flex
    margin-left: auto

    & :not(:last-child)
        margin-right: 25px