input
    margin: 0

input[type=password]
    letter-spacing: .1em

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
    -webkit-text-fill-color: $light-c
    -webkit-box-shadow: 0 0 0px 1000px transparent inset
    transition: background-color 5000s ease-in-out 0s

    &:hover:not(:focus)
        -webkit-box-shadow: 0 0 0px 1000px transparent inset

\::-webkit-input-placeholder
    color: $base-gray
    letter-spacing: initial !important

\::-moz-placeholder
    color: $base-gray
    letter-spacing: initial !important

\::-ms-input-placeholder
    color: $base-gray
    letter-spacing: initial !important

\::placeholder
    color: $base-gray
    letter-spacing: initial !important

.disabled,
*:disabled
    @extend %disabled

.input-wrap
    position: relative

    &_password
        position: relative

.input-base
    height: 40px
    padding: 9px 15px 7px

.input-line
    width: 100%
    padding: 5px 15px 15px
    font-size: 14px
    color: $light-c
    background-color: transparent
    border-bottom: 1px solid $light-c

.textarea-base
    display: block
    padding: 8px 16px
    line-height: $base-lh

.input-base,
.textarea-base
    width: 100%
    font-size: 14px
    color: $dark-c
    background-color: $light-c
    border: 1px solid $dark-gray

    &:focus:not(.has-error)
        border-color: $primary-blue

.has-error
    border-color: $error-c !important
