.grid-publication-placeholder
    background-color: $light-c
    @extend %border

    &_top1
        height: 500px

    &_top-other
        min-height: 460px

.grid-publication
    position: relative
    display: flex
    flex-direction: column
    background-color: $light-c
    text-decoration: none
    color: inherit
    @extend %border

    +media(d)
        min-height: 460px

    a
        text-decoration: none
        color: inherit

    & > a:not(.grid-publication__link)
        position: relative
        display: flex
        flex-direction: column
        height: 100%
        flex-grow: 1

    &__cover-wrap
        position: relative
        background-color: $light-gray

    &__cover
        position: relative
        display: block
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center

    &__text-wrap
        position: relative
        z-index: 3
        display: flex
        flex-direction: column
        flex-grow: 1

        +media(m)
            padding: 20px 15px

        +media(d)
            padding: 20px

    &__title
        margin-bottom: 5px
        font-family: $bold-f

        +media(m)
            font-size: 21px

        +media(d)
            font-size: $medium-fz

        a
            color: currentColor
            text-decoration: none

    &__description,
    &__date
        margin-bottom: 20px

    &__text
        font-size: $mini-fz

    &__wobbler
        display: flex
        align-items: center
        margin-top: auto

    &__link
        position: absolute
        bottom: 20px
        z-index: 4
        margin-left: 20px
        height: 26px
        font-size: 12px
        line-height: 22px
        font-family: $base-f
        font-weight: bold
        letter-spacing: 0.08em
        text-decoration: none
        transition: color $transition-time

        &_reportage
            left: 160px

        &_event
            left: 145px

        &:hover
            color: $base-c

            &::before
                width: calc(100% + 14px)

        span
            position: relative
            z-index: 2

        .text
            padding-left: 2px
            vertical-align: -3px

        .icon
            margin-left: 10px
            font-size: 10px
            color: $base-c
            vertical-align: -4px

        &::before
            content: ""
            display: block
            position: absolute
            top: 1px
            right: -7px
            z-index: 1
            width: 26px
            height: 26px
            border-radius: 26px
            background-color: #EFF2F5
            transition: width $transition-time, border-radius $transition-time

    &__bg-gradient
        display: none
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 2
        background-color: rgba(#4c607b, .1)

    &_6-col
        +media(d)
            width: 640px
            flex-shrink: 0

    &_8-col
        +media(d)
            width: 860px
            height: 500px
            flex-shrink: 0

        .grid-publication__text-wrap
            position: absolute
            bottom: 0
            width: 100%

    &_6-col,
    &_8-col
        &.grid-publication_format-full

            .grid-publication__title
                +media(d)
                    font-size: 36px

            .grid-publication__text
                +media(d)
                    font-size: 20px

            .grid-publication__description,
            .grid-publication__date
                +media(d)
                    margin-bottom: 40px

    &_format-base
        .grid-publication
            &__cover-wrap
                +media(d)
                    height: 278px

            &__cover
                border-bottom: 1px solid $border-c

            &__title
                &:hover,
                &:focus
                    color: $base-c

            &__link
                color: $base-c

    &_format-full
        color: $light-c

        +media(m)
            min-height: 460px

        .grid-publication
            &__cover-wrap
                position: relative
                display: flex
                flex-direction: column
                height: 100%
                flex-grow: 1

                &::after
                    content: ""
                    display: block
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    background: linear-gradient(rgba(0, 51, 104, 0) 0%, rgba(23, 33, 54, 0.6) 100%)

            &__cover
                height: 100%
                flex-grow: 1

            &__text-wrap
                position: absolute
                bottom: 0

            &__link
                color: $light-c

                &:hover
                    color: $base-c

    &_format-city-guide
        background-color: $base-dark-c
        color: $light-c

        .grid-publication__cover-wrap
            height: 280px

        .grid-publication__cover
            width: 260px
            height: 220px
            margin: 50px auto 0

    &_format-mobile
        +media(m)
            min-height: 0
            padding: 0
            color: $dark-c
            border: none
            border-radius: 0

            .grid-publication__cover-wrap
                display: none

            .grid-publication__text-wrap
                position: relative
                padding: 0

.grid-publication:not(.grid-publication_format-city-guide)
    &:hover,
    &:focus
        .grid-publication__bg-gradient
            display: block

.grid-publication_format-city-guide
    &:hover,
    &:focus
        .grid-publication__title
            color: $base-c