header
    position: relative
    z-index: 999

    +media(m)
        height: 70px
        box-shadow: 0 1px 5px #d7e2ee

    +media(d)
        height: 100px
        border-bottom: 1px solid #D7DBE0

.header-container
    height: 100%
    display: flex
    align-items: center

.header
    &__logo-link
        display: flex
        flex-direction: column
        justify-content: flex-end
        position: relative
        z-index: 2
        text-decoration: none

        +media(m)
            height: 45px
            align-self: flex-start
            margin-top: 5px

        +media(d)
            height: 67px
            margin-bottom: 24px

    &__logo-subtext
        margin-top: 6px
        font-size: 11px
        line-height: $micro-lh
        letter-spacing: 0.07em
        color: #242434

        +media(m)
            display: none

    &__logo-img
        display: block
        width: 147px

    &__logo-icon
        position: absolute
        color: $base-c
        font-size: 0

        &.icon-logo-sign
            right: 19px
            &::before
                font-size: 8px

            +media(m)
                bottom: 20px

            +media(d)
                bottom: 40px

        &.icon-logo-news
            +media(m)
                right: 22px
                bottom: 24px

                &::before
                    font-size: 17px

            +media(d)
                right: 19px
                bottom: 40px

                &::before
                    font-size: 19px

        &.icon-logo-event
            bottom: 37px
            right: 26px
            &::before
                font-size: 21px

        &.icon-logo-history
            bottom: 37px
            right: 16px
            &::before
                font-size: 18px

        &.icon-geo-stroke
            bottom: 35px
            right: 19px
            &::before
                font-size: 24px

        &.icon-logo-people
            bottom: 35px
            right: 17px
            &::before
                font-size: 25px

        &.icon-star-sharp
            bottom: 37px
            right: 23px
            &::before
                font-size: 22px

    &__nav-wrap
        margin-left: auto
        margin-right: 30px

        +media(m)
            display: none
            position: fixed
            top: 70px
            left: 0
            z-index: 999
            width: 100%
            height: calc(100% - 70px)
            background-color: $light-c
            overflow: auto

            &_inner
                display: flex
                flex-direction: column
                width: 100%
                max-width: 600px
                height: 100%
                margin-left: auto
                margin-right: auto
                padding-left: 16px
                padding-right: 16px

            &.visible
                display: block

    &__search-btn
        display: block
        width: 42px
        height: 42px
        color: $dark-c

        +media(m)
            margin-left: auto
            font-size: 22px

        +media(d)
            font-size: $base-fz

    &__close-search-btn
        width: 42px
        height: 42px
        font-size: 14px

        +media(d)
            position: absolute
            z-index: 100
            top: 28px
            right: 0

    &__menu-toggler
        width: 42px
        height: 42px
        margin-left: 8px

        +media(d)
            display: none

    &__weather-widget
        position: absolute
        top: 40px
        left: 490px
        font-size: $mini-fz
        font-family: $bold-f
        color: $dark-c

        +media(m)
            display: none

    &__pattern
        +media(m)
            &_desktop
                display: none

        +media(d)
            position: absolute
            width: 540px
            left: 0
            bottom: 10px
            z-index: 1

    &__social-wrap
        margin-bottom: 25px

        .social-link
            color: $light-c
            background-color: $base-c

    &__mobile-actions
        & > *
            display: block
            margin-top: 20px
            color: #7A8BA1
            font-size: 16px
            text-decoration: underline

    &__mobile-copyright
        font-size: 14px
        text-decoration: none

.header-mobile-nav__bottom-section
    margin-top: auto

    &::after
        content: ""
        display: block
        height: 80px
        margin-top: 10px
        margin-bottom: 20px
        background-image: url(../images/svg/header-pattern-mobile.svg)
        background-size: contain
        background-repeat: no-repeat
        background-position: center

    +media(d)
        display: none