header
    border-bottom: 1px solid #D7DBE0
    color: $dark-c
    height: 100px

.header-container
    height: 100%
    display: flex
    align-items: center

.header
    &__logo-link
        margin-bottom: 24px
        height: 67px
        display: flex
        flex-direction: column
        justify-content: flex-end
        position: relative
        z-index: 2
        text-decoration: none

    &__logo-subtext
        margin-top: 6px
        font-size: 11px
        line-height: $micro-lh
        letter-spacing: 0.07em
        color: #242434

    &__logo-img
        display: block
        width: 147px

    &__logo-icon
        position: absolute
        color: $base-c
        font-size: 0

        &.icon-logo-sign
            bottom: 39px
            right: 19px
            &::before
                font-size: 8px

        &.icon-logo-news
            bottom: 40px
            right: 19px
            &::before
                font-size: 19px

        &.icon-logo-event
            bottom: 37px
            right: 26px
            &::before
                font-size: 21px

        &.icon-logo-history
            bottom: 37px
            right: 16px
            &::before
                font-size: 18px

        &.icon-geo-stroke
            bottom: 35px
            right: 19px
            &::before
                font-size: 24px

        &.icon-logo-people
            bottom: 35px
            right: 17px
            &::before
                font-size: 25px

        &.icon-star-sharp
            bottom: 37px
            right: 23px
            &::before
                font-size: 22px

    &__nav
        margin-left: auto
        margin-right: 30px

    &__search-btn
        display: block
        width: 43px
        height: 18px
        color: $dark-c
        font-size: $base-fz

    &__close-search-btn
        position: absolute
        z-index: 100
        top: 28px
        right: 0
        width: 46px
        height: 46px
        font-size: 14px

    &__weather-widget
        position: absolute
        top: 40px
        left: 490px
        font-size: $mini-fz
        font-family: $bold-f
        color: $dark-c

    &__pattern
        position: absolute
        width: 540px
        left: 0
        bottom: 10px
        z-index: 1