.hint
    display: none
    width: max-content
    max-width: 300px
    padding: 5px 15px
    position: absolute
    top: -30px
    white-space: normal

    &_visible
        display: block

    &_error
        position: absolute
        z-index: 3
        min-height: 24px
        color: $light-c
        background-color: #ff4006
        border-radius: 12px

    &__text
        font-size: 10px
        line-height: $base-lh
