.hint
    display: none
    max-width: 100%
    position: absolute
    white-space: normal

    &_visible
        display: block

    &_error
        position: absolute
        z-index: 3

    &__text
        width: max-content
        max-width: 100%
        line-height: $base-lh