.footer__instagram-banner-link
    display: block
    width: 880px
    margin: 0 auto 40px

.aside__instagram-banner-link
    display: block

.instagram-banner
    display: block
    
    &_footer
        width: 880px
        height: 120px

    &_aside
        width: 380px
        height: 500px

.aside-instagram-widget
    height: 500px