.footer__instagram-banner-link
    +media(m)
        display: none

    +media(d)
        display: block
        width: 880px
        margin: 0 auto 40px

.footer__instagram-mobile-block
    +media(m)
        display: block
        margin-bottom: 40px
        padding: 25px
        background-color: $base-c
        color: $light-c
        border-radius: 16px
        text-decoration: none
        text-align: center

    +media(d)
        display: none

    .icon-instagram
        display: block
        height: 64px
        margin: 0 auto 25px
        font-size: 64px

    h3
        margin-bottom: 10px
        font-size: $medium-fz
        font-family: $bold-f

    p
        font-size: 18px

.aside__instagram-banner-link
    display: block

.instagram-banner
    display: block

    &_footer
        width: 880px
        height: 120px

    &_aside
        width: 380px
        height: 500px
        margin-left: auto
        margin-right: auto

.aside-instagram-widget
    +media(d)
        height: 500px