.search-pop-up-content
    width: 640px

.search__result-block
    position: relative

.search-result_full
    padding: 20px 0

.search-result-list
    margin: 0
    padding: 0

.search__all-result-link
    display: block
    margin-top: 20px
    padding: 0 60px
    font-size: $mini-fz
    font-family: $bold-f
    color: $base-c
    text-decoration: none

    span
        margin-left: 10px
        font-family: $base-f
        font-size: 14px
        letter-spacing: 0.08em
        color: $base-gray

.search-item
    display: block
    padding: 10px 60px
    line-height: $base-lh
    text-decoration: none

    &:hover,
    &.focus
        background-color: #F6F7F8

    &__category
        display: block
        font-size: 14px
        letter-spacing: 0.08em
        color: $base-c

    &__title
        font-size: $base-fz
        font-family: $bold-f
        color: $dark-c

.search-result_empty
    position: absolute
    left: 15px
    bottom: -30px
    font-size: $base-fz
    font-family: $bold-f