.nearest-event-widget
    &__title
        font-family: $bold-f
        font-size: $big-fz
        margin-bottom: 15px

    &__item
        display: block
        border-radius: 4px
        overflow: hidden

        &:not(:last-child)
            margin-bottom: 20px

    &__img
        display: block
        width: 100%