.last-news
    position: relative
    display: flex
    flex-direction: column
    min-height: 500px
    padding: 20px
    background-color: $light-c
    @extend %border

    &__section-title
        margin-bottom: 15px
        font-size: $big-fz

    &__wobbler
        margin-top: auto

    &__link
        font-size: $mini-fz
        font-family: $bold-f
        color: $base-c

        &:hover,
        &:focus
            text-decoration: none

    &__icon
        position: absolute
        bottom: 0
        right: 20px
        height: 100px
        font-size: 100px
        color: rgba($base-c, .1)

.last-news-list
    margin: 0
    padding: 0

.last-news-item
    margin-bottom: 20px

    &__link
        display: flex
        align-items: flex-start
        color: $dark-c
        text-decoration: none

        &:hover,
        &:focus
            .last-news-item__title
                color: $base-c

    &__img-wrap
        width: 110px
        height: 80px
        flex-shrink: 0
        margin-right: 20px

    &__img
        display: block

    &__title
        font-size: $mini-fz
        line-height: $mini-lh
        font-family: $bold-f
        margin-bottom: 10px

    &__date
        font-size: $micro-fz
        color: $base-gray
        text-transform: uppercase
        letter-spacing: 0.08em

.news-list-page
    +media(d)
        padding-bottom: 40px
        background-color: #F5F6F7

.news-list-item
    display: flex
    align-items: stretch
    background-color: $light-c
    color: $dark-c
    text-decoration: none
    @extend %border

    +media(m)
        flex-direction: row-reverse
        border: none

        &:not(:last-child)
            margin-bottom: 24px
            padding-bottom: 24px
            border-bottom: 1px solid #C3CEDF

    +media(d)
        min-height: 200px

        &:not(:last-of-type)
            margin-bottom: 20px

    &__img
        display: block
        width: 100%
        height: 100%
        background-size: cover
        background-position: 50% 50%
        background-repeat: no-repeat

        +media(m)
            border-radius: 4px

    &__img-wrap
        position: relative
        flex-shrink: 0
        background-color: $light-gray

        +media(m)
            width: 72px
            height: 52px
            margin-left: 20px

        +media(d)
            width: 310px

    &__text-wrap
        width: 100%
        display: flex
        flex-direction: column
        flex-grow: 1

        +media(d)
            padding: 20px

    &__title
        display: block
        font-family: $bold-f
        color: $dark-c
        text-decoration: none

        +media(m)
            margin-bottom: 8px
            font-size: 20px

        +media(d)
            margin-bottom: 20px
            font-size: $medium-fz

        &:hover
            color: $base-c

    &__text
        +media(m)
            font-size: 14px

        +media(d)
            margin-bottom: 40px
            font-size: $mini-fz

    &__date
        margin-top: auto
        font-size: 14px
        letter-spacing: 0.08em
        color: $base-gray

        +media(m)
            display: none