.index__last-news
    padding: 20px
    background-color: $light-c
    @extend %border

.last-news
    &__section-title
        margin-bottom: 15px
        font-size: $big-fz

    &__link
        display: inline-block
        margin-top: 20px
        color: #000
        font-size: 14px
        letter-spacing: 0.08em
        text-decoration: underline

        &:hover,
        &:focus
            text-decoration: none

.last-news-list
    margin: 0
    padding: 0

.last-news-item

    &:not(:last-of-type)
        margin-bottom: 20px

    &__link
        display: flex
        align-items: flex-start
        color: $dark-c
        text-decoration: none

        &:hover,
        &:focus
            .last-news-item__title
                text-decoration: underline

    &__img
        width: 110px
        margin-right: 20px

    &__title
        font-size: $mini-fz
        line-height: $mini-lh
        font-family: $base-f
        font-weight: normal
        margin-bottom: 10px

    &__date
        font-size: $micro-fz
        color: $base-gray
        text-transform: uppercase

.news-list-item
    display: flex
    align-items: stretch
    min-height: 200px
    background-color: $light-c
    color: $dark-c
    text-decoration: none
    @extend %border

    &:not(:last-of-type)
        margin-bottom: 20px

    &__img
        display: block
        width: 100%

    &__img-wrap
        position: relative
        width: 310px
        flex-shrink: 0
        background-size: cover
        background-position: 50% 50%

    &__text-wrap
        display: flex
        flex-direction: column
        flex-grow: 1
        padding: 20px

    &__title
        display: block
        margin-bottom: 20px
        font-size: $medium-fz
        color: $dark-c
        text-decoration: none

        &:hover
            color: $primary-blue

    &__text
        margin-bottom: 40px
        font-size: $mini-fz

    &__date
        margin-top: auto
        font-size: $mini-fz
        font-family: $additional-f
        letter-spacing: 0.08em
        color: #7a7a7a