.notification-wrapper
    position: fixed
    right: 16px
    z-index: -1
    padding: 24px 32px 24px 24px
    opacity: 0
    background-color: $light-c
    border-left: 8px solid
    border-radius: 5px
    box-shadow: $layer-3
    overflow: hidden
    transition: opacity $transition-time, top $transition-time
    top: 60px

    &.visible
        z-index: 200
        opacity: 1
        top: 80px

    &.error
        border-color: $error-c

        .notification__title_error
            display: block

    &.success
        border-color: $success-c

        .notification__title_success
            display: block

.notification
    &__title
        display: none
        margin-bottom: 8px
        font-size: $medium-fz
        line-height: $micro-lh
        font-family: $bold-f

    &__message
        font-size: $mini-fz
        line-height: $mini-lh

    &__close
        position: absolute
        right: 8px
        top: 8px
        width: 24px
        height: 24px
        text-align: center
        font-size: 14px
        line-height: 24px
        color: $base-gray

        &:hover
            color: $dark-c