.offer-widget
    position: relative
    padding: 28px 60px 28px 30px
    border-radius: 4px
    border: 2px solid #0073FF

    &_news
        .offer-widget__icon

            &::before
                font-size: 90px

    &_event
        .offer-widget__icon

            &::before
                font-size: 80px

    &_history
        .offer-widget__icon

            &::before
                font-size: 75px

    &_place
        .offer-widget__icon

            &::before
                font-size: 90px

    &_people
        .offer-widget__icon

            &::before
                font-size: 90px

    &__text
        margin-bottom: 20px
        font-size: $mini-fz
        color: $dark-c

    &__btn
        color: $light-c
        letter-spacing: 0.04em

    &__icon
        position: absolute
        bottom: 15px
        right: 20px
        font-size: 0
        color: rgba(#0073FF, .1)