.offer-widget
    position: relative
    background-color: $light-c
    border: 2px solid $base-c

    +media(m)
        margin-top: 40px
        padding: 30px 20px
        border-radius: 16px

    +media(d)
        padding: 26px 60px 26px 30px
        border-radius: 4px

    &_news
        .offer-widget__icon

            &::before
                font-size: 90px

    &_event
        .offer-widget__icon

            &::before
                font-size: 80px

    &_history
        .offer-widget__icon

            &::before
                font-size: 75px

    &_place
        .offer-widget__icon

            &::before
                font-size: 90px

    &_people
        .offer-widget__icon

            &::before
                font-size: 90px

    &__text
        margin-bottom: 20px
        font-size: $mini-fz
        color: $dark-c

        +media(m)
            text-align: center

            br
                display: none

    &__btn
        color: $light-c
        letter-spacing: 0.04em

        +media(m)
            display: block
            width: 100%
            max-width: 290px
            margin-left: auto
            margin-right: auto

    &__icon
        font-size: 0
        color: rgba($base-c, .1)

        +media(m)
            display: block
            text-align: center
            margin-bottom: 15px

        +media(d)
            position: absolute
            bottom: 15px
            right: 20px
