@keyframes zoomIn
    0%
        transform: scale(0.9)
        opacity: 0

    100%
        transform: scale(1)
        opacity: 1

.body-cover
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 100
    overflow: auto

    &.visible
        display: block

.back
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    min-height: 100vh
    background-position: center center
    background-repeat: no-repeat
    cursor: pointer
    background-color: rgba(#C3CEDF, .8)
    backdrop-filter: blur(2px)

.pop-up__close
    position: absolute
    z-index: 1
    cursor: pointer

    &_inner
        top: 12px
        right: 12px
        width: 28px
        height: 28px
        font-size: 14px
        color: $base-gray
        background-color: rgba($light-c, .8)
        border-radius: 50%
        display: none

        &:hover
            color: $dark-c

    &_outer
        height: 36px
        padding: 5px
        top: -5px
        right: -50px
        color: $light-c
        font-size: 25px

        &:hover
            opacity: .8

.pop-up-wrapper
    display: none
    position: relative
    min-height: 100%

    &.visible
        display: flex
        justify-content: center

        .pop-up-inner-container
            animation: zoomIn $transition-time linear forwards

.pop-up-content
    background-color: $light-c
    border-radius: 4px

.pop-up-inner-container
    position: relative
    margin: 185px auto 40px

.user-pop-up
    padding: 24px
    width: 355px

    &__input-wrap
        &:not(:last-of-type):not(.input-size_half)
            margin-bottom: 16px

    &__agrement
        margin-top: 24px
        font-size: $mini-fz

    &__submit
        display: block
        width: 100%
        margin-top: 24px

    &__note
        display: block
        margin-top: 24px
        font-size: $mini-fz
        text-align: center

        &:not(.hidden) + .user-pop-up__note
            margin-top: 12px

        &_left
            text-align: left

.pop-up
    &__user-form
        font-size: 0

    &__title
        margin-bottom: 36px
        font-size: $big-fz
        font-family: $bold-f

    &__subtitle
        margin-bottom: 24px
        font-size: $medium-fz
        font-family: $bold-f

    &__text
        margin-bottom: 24px
        font-size: $mini-fz

    &__btns-wrap
        font-size: 0
        text-align: right

        button
            margin-left: 12px