.post-editor
    position: relative

.post-editor-content [class*="post-editor__section_"]:not(:first-child),
.post-editor-column [class*="post-editor__block_"]:not(:first-child)
    margin-top: 40px

.post-editor__section_8
    width: 100%

    .post-editor__block_text
        margin-right: auto
        margin-left: auto

    .slider-caption
        width: 100%

    .post-editor__block_slider .slider
        height: 520px

    .post-editor__block_video-wrap
        height: 490px

.post-editor__section_6
    width: 640px
    margin-right: auto
    margin-left: auto

    .slider-caption
        width: 100%

    .post-editor__block_slider .slider
        height: 440px

    .post-editor__block_video-wrap
        height: 360px

.post-editor__section_4-4
    display: flex
    justify-content: space-between

    .post-editor-column
        width: calc(50% - 10px)

    .slider-caption
        width: 100%

.post-editor__section_3-3
    display: flex
    justify-content: space-between
    width: 640px
    margin-right: auto
    margin-left: auto

    .post-editor-column
        width: calc(50% - 10px)

    .slider-caption
        width: 100%


.post-editor__block_img
    position: relative

    .post-editor__img-wrap
        display: block
        position: relative

        &.hoverable

            &::after
                content: ' ' attr(href) ' '
                position: absolute
                bottom: 20px
                display: block
                max-width: 250px
                height: 22px
                margin-left: 20px
                opacity: 0
                font-size: $mini-fz
                color: rgba($light-c, 0.9)
                text-align: left
                text-overflow: ellipsis
                overflow: hidden
                transition: opacity .3s

            &:hover
                &::after
                    opacity: 1

                .img-shadow
                    background-color: rgba($dark-c, 0.3)

    img
        display: block

    &.center
        img
            margin-left: auto
            margin-right: auto

        .post-editor__block_caption
            text-align: center

    &.left
        img
            margin-right: auto

        .post-editor__block_caption
            text-align: left

    &.right
        img
            margin-left: auto

        .post-editor__block_caption
            text-align: right

.post-editor__block_slider

    img
        display: block

    .nav-wrapper
        position: absolute
        right: 0
        bottom: -40px
        font-size: 0

    .slider-arrow
        vertical-align: bottom
        color: #283348

    .slider-caption
        width: 50%

.post-editor__block_quote
    min-height: 90px
    padding-left: 25px
    border-left: 4px solid #05f

    p
        margin-bottom: 0
        font-size: 26px
        line-height: $mini-lh
        font-family: $additional-f

.post-editor__block_video

    &-wrap
        position: relative

    iframe
        position: absolute
        left: 0
        height: 100%
        width: 100%

.post-editor__block_caption
    margin-top: 20px !important
    font-size: 15px
    line-height: $mini-lh
    letter-spacing: 0.08em
    color: #283348

.post-editor__block_separator
    .line
        height: 1px
        background-color: $dark-c

.post-editor__block_direct-speech
    display: flex
    align-items: flex-start

.direct-speech
    &__avatar
        display: block
        width: 110px
        height: 110px
        margin-right: 15px
        flex-shrink: 0
        border-radius: 50%
        border: 1px solid #4c607b

    &__text-wrap
        position: relative
        margin-left: 35px
        padding: 15px 30px
        background-color: #f5f6f7
        border-radius: 4px

        &::before
            content: ""
            display: block
            width: 35px
            height: 40px
            position: absolute
            left: -35px
            top: 40px
            background-image: url(../images/svg/direct-speech-triangle.svg)
            background-repeat: no-repeat
            background-size: contain

    &__author
        margin-bottom: 5px
        font-family: $bold-f
        font-size: 22px
        letter-spacing: 0.02em
        color: #05f

    &__author-description
        margin-bottom: 10px
        font-style: italic
        font-size: 16px

.img-shadow
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    transition: background-color .3s