.privacy-page
    margin-top: 20px

.privacy
    width: 640px
    margin-left: auto
    margin-right: auto

    &__list
        width: 310px
        margin: 0 0 0 -40px
        padding: 40px 30px 50px 50px
        border-radius: 4px
        background-color: rgba(#eceef1, .2)
        border: 1px solid #d7dbe0
        list-style-type: decimal
        font-size: $mini-fz
        font-family: $bold-f
        color: $base-c

    &__list-item
        &:not(:last-child)
            margin-bottom: 20px

    &__link
        color: inherit
        text-decoration: none

        &:hover
            text-decoration: underline