.search-result-page
    &__form
        width: 640px
        margin: 60px auto 30px

    &__btns-panel
        display: flex
        justify-content: center

    &__btn
        margin-left: 5px
        margin-right: 5px

    &_empty
        font-size: $mini-fz
        font-family: $bold-f
        text-align: center

.search-form
    position: relative

    &__input
        padding-right: 50px

    &__submit
        position: absolute
        top: 0
        right: 0
        padding: 16px 15px 14px
        font-size: $base-fz
        color: #7A8BA1

.search-pop-up-content
    +media(d)
        width: 640px

.search__result-block
    position: relative

    &::after
        content: ""
        display: block
        width: 100%
        height: 1px
        position: absolute
        top: 5px
        left: 0
        background-color: #D7DBE0

.search-result_full
    margin-top: -5px
    padding: 15px 0 10px
    background-color: $light-c
    border: 1px solid #D7DBE0
    border-top: none
    border-bottom-right-radius: 4px
    border-bottom-left-radius: 4px

.search-result-list
    margin: 0
    padding: 0

.search__all-result-link
    display: block
    margin-top: 20px
    padding: 0 20px
    font-size: $mini-fz
    font-family: $bold-f
    color: $base-c
    text-decoration: none

    span
        margin-left: 10px
        font-family: $base-f
        font-size: 14px
        letter-spacing: 0.08em
        color: $base-gray

.search-item
    display: block
    padding: 10px 20px
    line-height: $base-lh
    text-decoration: none

    &:hover,
    &.focus
        background-color: #F6F7F8

    &__category
        display: block
        font-size: 14px
        letter-spacing: 0.08em
        color: $base-c

    &__title
        font-family: $bold-f
        color: $dark-c
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

        +media(m)
            font-size: $mini-fz

        +media(d)
            font-size: $base-fz

.search-result_empty
    margin-top: -5px
    padding: 48px 20px 20px
    font-size: $base-fz
    font-family: $bold-f
    background-color: $light-c
    border: 1px solid #D7DBE0
    border-top: none
    border-bottom-right-radius: 4px
    border-bottom-left-radius: 4px

.instant-search-form
    position: relative