.share-widget
    display: flex
    align-items: center
    margin-left: auto

    &__text
        margin-right: 20px
        font-size: 16px
        letter-spacing: 0.08em

    &__links-wrap
        display: flex
        align-items: center

    &__link
        &:not(:last-child)
            margin-right: 8px

    &__link-img
        display: block
        width: 24px
        height: 24px
