.site-nav
    margin: 0
    padding: 0
    font-size: 0

    &__item
        display: inline-block

    &__link
        position: relative
        display: inline-block
        color: inherit
        padding: 5px 2px
        text-decoration: none
        text-transform: uppercase

        &::after
            content: ""
            display: none
            width: 100%
            position: absolute
            left: 0
            background-color: $base-c

        &:hover,
        &.active
            &::after
                display: block

    &__mobile-icon
        display: none

.header__nav
    .site-nav
        +media(m)
            margin: 40px 0

        &__item
            +media(m)
                display: block

                &:not(:last-child)
                    margin-bottom: 30px

            +media(d)
                &:not(:last-child)
                    margin-right: 30px

        &__link
            font-family: $bold-f

            +media(m)
                padding: 0
                font-size: $h4-fz

            +media(d)
                font-size: $small-fz

            +media(m)
                display: block

            &::after
                height: 3px
                bottom: -5px

        &__mobile-icon
            +media(m)
                display: inline-block
                width: 24px
                margin-right: 18px
                font-size: 20px
                color: $base-c
                text-align: center

                &.icon-history
                    font-size: 16px

.footer__nav
    .site-nav
        width: 530px
        display: flex
        justify-content: space-between

        &__link
            font-size: 12px

            &::after
                height: 2px
                bottom: -5px


.mobile-menu-open
    height: 100vh
    overflow: hidden