.slider
    position: relative

.slider-container
    display: block
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    padding: 0
    overflow: hidden

.slide
    position: absolute
    top: 0
    left: 0
    min-width: 100%
    height: 100%
    padding: 0
    opacity: 0
    transition: opacity 300ms linear

    &:first-child
        opacity: 1

.slider-arrow
    display: none
    cursor: pointer

    &.active
        display: inline-block

    &_base
        width: 15px
        height: 15px
        font-size: 15px
        color: $light-c
        text-align: center

        &:hover
            color: #AAB2C2

.slide-nav-counter
    display: none
    width: 60px
    font-size: 15px
    line-height: $micro-lh
    text-align: center

    &.active,
    span
        display: inline-block

.slider-circles-container
    position: absolute
    bottom: 20px
    left: 50%
    transform: translateX(-50%)
    font-size: 0
    line-height: 0

    &.active
        display: block

.slider-circle-item
    display: inline-block
    width: 9px
    height: 9px
    margin-right: 5px
    border-radius: 50%
    cursor: pointer
    background-color: #A1A3A3

    &.active,
    &:hover
        background-color: $light-c

    &:last-child
        margin-right: 0

.post-editor__block_slider .slide
    cursor: pointer

.full-width-slider
    width: 100%
    height: 520px
    margin-left: auto
    margin-right: auto

    &:hover,
    &:focus
        .grid-publication__bg-gradient
            display: block
            background-color: rgba(#4c607b, .1)

    .slider-circles-container
        z-index: 3

    .slider-arrow
        position: absolute
        top: 50%
        transform: translateY(-50%)
        color: $light-c
        text-align: center
        background-color: rgba($dark-c, 0.3)

        &:hover
            background-color: rgba($dark-c, 0.5)

    .slider-arrow-container
        width: 1300px
        margin: 0 auto
        position: relative
        top: 50%
        z-index: 3
        transform: translateY(-50%)

    .slider-arrow-prev
        left: 0
        padding-right: 5px

    .slider-arrow-next
        right: 0
        padding-left: 5px

.slider-arrow_round,
.slick-arrow
    width: 52px
    height: 52px
    border-radius: 50%
    font-size: 30px
    line-height: 54px
    text-align: center

.preview-slider
    display: flex
    flex-direction: column
    align-items: center
    overflow: hidden

    &__big-img-wrap
        position: relative

        &:not(.preview-slider_without-shadow)
            &::after
                content: ""
                display: block
                width: 100%
                height: 100%
                position: absolute
                left: 0
                top: 0
                z-index: 2
                background: linear-gradient(rgba(0, 51, 104, 0) 0%, rgba(26, 54, 86, 0.02) 53.1%, rgba(34, 57, 85, 0.25) 77.4%, rgba(38, 43, 54, 0.8) 100%)

    &__big-img
        display: block
        height: 100%

    &__small-img-wrap
        display: flex
        align-items: flex-start
        max-width: 580px
        margin-top: 20px
        margin-bottom: -40px
        padding-bottom: 40px
        overflow: scroll

    &__small-img
        display: block
        width: 100px
        height: 80px
        border-radius: 4px

    &__mini-btn
        position: relative
        flex-shrink: 0

        &:not(:first-child)
            margin-left: 10px

        &:not(:last-child)
            margin-right: 10px

        &.active,
        &:hover
            &:after
                content: ""
                display: block
                width: 100%
                height: 5px
                margin-top: 20px
                background-color: $base-c
                border-radius: 5px

    &__caption
        position: absolute
        left: 80px
        right: 80px
        bottom: 20px
        z-index: 3
        font-size: $base-fz
        color: $light-c
        text-align: center

    &__thumbs-block
        position: relative
        text-align: center

    &__thumbs-arrow
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 48px
        height: 48px
        padding-top: 4px
        font-size: 30px
        border-radius: 50%

        &_light
            color: $base-c
            background-color: $light-c

            &:hover
                background-color: #BEE0FC

        &_blue
            background-color: $base-c
            color: $light-c

            &:hover
                color: #BEE0FC

        &-prev
            left: -68px
            padding-right: 3px

        &-next
            right: -68px
            padding-left: 3px
