.page-title
    margin-bottom: 32px
    font-size: $medium-fz
    font-family: $bold-f
    text-transform: uppercase
    letter-spacing: 0.08em

    +media(d)
        display: none

.section__title
    margin-bottom: 20px
    font-size: $big-fz
    font-family: $bold-f
    text-transform: uppercase

.section__title_mobile-center
    +media(m)
        text-align: center